<!--/*//=============================================================================
// All rights reserved to Thrill Innovative Labs.
// THIS CODE AND INFORMATION IS PROVIDED 'AS IS' WITHOUT WARRANTY
// OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
// LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR
// FITNESS FOR A PARTICULAR PURPOSE.
//=============================================================================
//*****************************************************************************
//* Name		    	: EditsubjectMarksRange.html 
//* Type		    	: HTML File
//* Description		    :
//* References		    :
//* Author	    		:
//* Created Date        : 
//*****************************************************************************
//*                             MODIFICATION LOG
//*****************************************************************************
//*  S.No  Ver	     Date	         Modified By			Description

//*****************************************************************************
//*                             Code Review LOG
//*****************************************************************************

//*****************************************************************************
*/-->

<ion-view view-title="subjectMarksRange List">
	 <ion-content scroll="true">
			 <div class="text_container">
				 <ion-item class="item - stable" ng-click="toggleGroup(0)" ng-class="{ active: isGroupShown(0)}" >
				 <i class="icon" ng-class="isGroupShown(0) ? 'ion-minus' : 'ion-plus'">{{empInfoLables.employeeBasicInfo}}</i>
			 </ion-item>
		 <div class="item - accordion" ng-show="isGroupShown(0)">
		 <div class="">
			 <div class="container">
				 <div class="row">
					 <h3> {{labelssubjectMarksRangeList.subjectMarksRangeHeading}}  </h3>
				 </div>
				 <div class="row responsive-sm">
			 <div class="col col-25">
				 <label>{{labelssubjectMarksRange.subjectKey}}</label>
				 <select ng-options="" value="3" class="form-control "  ng-model="entitysubjectMarksRange.subjectKey" name="subjectKey" > 
					 <option value="">--Select--</option>
					 </select>
			 </div>
			 <div class="col col-25">
				 <label>{{labelssubjectMarksRange.examinationTypeKey}}</label>
				 <select ng-options="" value="3" class="form-control "  ng-model="entitysubjectMarksRange.examinationTypeKey" name="examinationTypeKey" > 
					 <option value="">--Select--</option>
					 </select>
			 </div>
			 <div class="col col-25">
				 <label>{{labelssubjectMarksRange.minimumSubjects}}</label>
				 <input class="form-control" id="input-Default" ng-model="entitysubjectMarksRange.minimumSubjects" name="minimumSubjects" type="text" ng-minlength = "4" ng-maxlength = "80" > 
			 </div>
			 <div class="col col-25">
				 <label>{{labelssubjectMarksRange.maximumSubjects}}</label>
				 <input class="form-control" id="input-Default" ng-model="entitysubjectMarksRange.maximumSubjects" name="maximumSubjects" type="text" ng-minlength = "4" ng-maxlength = "80" > 
			 </div>
			 <div class="col col-25">
				 <label>{{labelssubjectMarksRange.instanceOrganizationKey}}</label>
				 <select ng-options="" value="3" class="form-control "  ng-model="entitysubjectMarksRange.instanceOrganizationKey" name="instanceOrganizationKey" > 
					 <option value="">--Select--</option>
					 </select>
			 </div>
			 </div>
			 <div class="row responsive-sm">
			 <div class="col col-25">
					 <button type="submit" class="button button-block button-positive" class="btn btn-default" ng-click="addsubjectMarksRange()">{{labelssubjectMarksRange.submit}}</button>
				 </div>
		 </div>
			 </div>
		 </div>
			 </div>
		 </div>
	 </ion-content>
</ion-view>
