<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
      <title></title>
      <link href="lib/ionic/css/ionic.css" rel="stylesheet">
      <!--  <link href="Person/Mobile/css/style.css">-->
      <link href="Academic/Mobile/css/font-awesome.css">
      <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
         <link href="css/ionic.app.css" rel="stylesheet">
         -->
      <!-- ionic/angularjs js -->
      <script src="lib/ionic/js/ionic.bundle.js"></script>
      <!-- cordova script (this will be a 404 during development) -->
      <script src="cordova.js"></script>
      <script src="SystemLibrary/ng-cordova.min.js"></script>
      <script src="SystemLibrary/ngStorage.min.js"></script>
      <!-- your app's js -->
      <script type="text/javascript" src="Academic/app.js"></script>
      <script type="text/javascript" src="Academic/Logic/Academic.Controller.js"></script>
      <script type="text/javascript" src="Academic/Logic/Academic.Logic.js"></script>
      <script type="text/javascript" src="Academic/Logic/AcademicMenu.js"></script>
      <script type="text/javascript" src="Academic/Logic/AcademicExperience.Controller.js"></script>
      <script type="text/javascript" src="Academic/Logic/AcademicExperience.Logic.js"></script>
      <script type="text/javascript" src="Academic/Logic/AcademicList.Controller.js"></script>
      <script type="text/javascript" src="Academic/Logic/AcademicList.Logic.js"></script>
      <script type="text/javascript" src="Academic/Mobile/js/dirPagination.js"></script>
      <script type="text/javascript" src="WebClient.config.js"></script>
      <script src="Academic/Logic/Masterdata.Logic.js"></script>
      <script type="text/javascript" src="Academic/Logic/Masterdata.Query.js"></script>
      <script type="text/javascript" src="Academic/Logic/Academic.Query.js"></script>
      <!--First time setup Scripts-->
      <script type="text/javascript" src="Academic/FirstTimeSetup/FirstTimeSetup.Queries.js"></script>
      <script type="text/javascript" src="Academic/FirstTimeSetup/FirstTimeSetup.Mobile.js"></script>
      <!--First time setup Scripts-->
      <!--frame work scripts-->
      <script type="text/javascript" src="FrameworkLibrary/Logger/logger.js"></script>
      <script type="text/javascript" src="FrameworkLibrary/Logger/AppLogger.js"></script>
      <script type='text/javascript' src="FrameworkLibrary/Crypto/aes.js"></script>
      <script type='text/javascript' src="FrameworkLibrary/Crypto/mdo-angular-cryptography.js"></script>
      <script type='text/javascript' src="FrameworkLibrary/Camera/Camera.js"></script>
      <script type='text/javascript' src="FrameworkLibrary/Location/Location.js"></script>
      <script type='text/javascript' src="FrameworkLibrary/Location/map.js"></script>
      <script type='text/javascript' src="FrameworkLibrary/Location/ui-event.js"></script>
      <script type='text/javascript' src="FrameworkLibrary/Location/ui-map.js"></script>
      <script type='text/javascript' src="FrameworkLibrary/Location/googlemaps.js"></script>
      <script type='text/javascript' src="FrameworkLibrary/Network/Network.js"></script>
      <script type="text/javascript" src="FrameworkLibrary/Data/DataServices.js"></script>
      <script type="text/javascript" src="FrameworkLibrary/Config/config.js"></script>
      <!-- system library scripts-->
      <script type='text/javascript' src="SystemLibrary/re-tree.js"></script>
      <script type='text/javascript' src="SystemLibrary/ngStorage.min.js"></script>
      <script type='text/javascript' src="SystemLibrary/ng-device-detector.js"></script>
      <script type="text/javascript" src="Academic/Config/config.js"></script>
   </head>
   <body ng-app="ThrillAcademic">
      <ion-nav-view></ion-nav-view>
   </body>
</html>
