<ion-view>
   
    <div class="addChildpopupsControl ">
        <!--<div class="row popup_titles">Institute Name <i class="ion-close-round" style="float:right;" ></i></div>-->
        
        
        <!-- Nav Tabs Start -->
        <ul class="instInfoTbar" style="z-index:1;">
            <li class="nav_r_border" ng-click="basicInfoTab(Institute)"><span translate="BI_tab1">Basic Info</span></li>
            <li class="nav_r_border" ng-click="AddAddressTab(Institute)"><span translate="BI_tab2">Address</span></li>
                    </ul>
        <!-- Nav Tabs END -->
        
        <!-- ion Content Start -->
        <ion-content style="margin-top:58px;">
            
            <!-- Institute Model Start -->
            <div ng-model="Institute" ng-cloak>
                
                
                
                <!-- Ng Switch Start -->
                <div ng-switch="moduleState" >
                    
                    <!-- Basic Info Module Start -->
                    <div ng-switch-when="BasicInfo" >
                        <form name="myInstitueForm" novalidate ng-submit="myInstitueForm.$valid && AddAddressTab(Institute)">
                            <div class="popup_cont institute_view_details">
                                <div class="row">
                                    <div class="col col-20"><img src="img/institute_pic.png"  class="rbsk-img-responsive" ng-click="chooseImg(Institute)"/></div>
                                    <div class="col col-80">
                                        <div class="row">
                                            <div class="col col-67">
                                                <label><span translate="BI_instname">Institute Name</span> </label>
                                                <input type="text" readonly="readonly"  placeholder="Institute Name" ng-model="Institute.InstituteName"/>
                                            </div>
                                            <div class="col col-33">
                                                <label><span translate="BI_disecode">DISE Code</span></label>
                                                <input type="text" readonly="readonly" placeholder="Enter Code" ng-model="Institute.DiseCode"/>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-33">
                                                <label><span translate="BI_insttype">Institute Type</span></label>
                                                <input type="text" ng-model="Institute.ITDisplayText" readonly="readonly"/>
                                            </div>
                                            <div class="col col-33">
                                                <label><span translate="BI_instcat">Institute Category</span></label>
                                                <input type="text" ng-model="Institute.ICDisplayText" readonly="readonly"/>
                                            </div>
                                            <div class="col col-33">
                                                <label><span translate="BI_schcat">School Category</span></label>
                                                <input type="text" ng-model="Institute.SCDisplayText" readonly="readonly"/>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-33">
                                                <label><span translate="BI_contact">Contact Type</span></label>
                                                <select ng-model="Institute.ContactType" ng-disabled="obj.ContactTypeID!=''" ng-options="obj.ContactTypeID as obj.DisplayText for obj in contacttypes1">
                                                    
                                                </select>
                                            </div>
                                            <div class="col col-67">
                                                <label><span >Contact Number</span></label>
                                                <input type="text" readonly="readonly" placeholder="0891-2222222" ng-model="Institute.PhoneContact" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label><span >Email</span></label>
                                                <input type="text" type="Email"readonly="readonly" placeholder="E-Mail" ng-model="Institute.Email" />
                                            </div>
                                        </div>
                                        
                                        <div class="col">
                                            <button class="btn green " style="padding:10px 30px !important; float:right;"  type="submit" translate="BI_next">Next</button>
                                            <!-- <div class="btn green"  style="float:right" type="submit"   translate="BI_next">
                                             Next
                                             
                                             <!--<span translate="BI_next">Next</span></div>-->
                                            <!-- </div> -->
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                    <!-- Basic Info Module END -->
                    <!-- Institute Address Module Start -->
                    <div ng-switch-when="AddressInstitute2" >
                        <form name="myInstitueForm" novalidate ng-submit="myInstitueForm.$valid && AddStaffTab(Institute)">
                            
                            <div class="popup_cont">
                                <div class="row">
                                    <div class="col col-33 errors">
                                        <label><span translate="BI_state">State</span><span class="red">*</span></label>
                                        <select ng-model="Institute.AddressState" ng-options="obj.StateID as obj.DisplayText for obj in state" ng-change="changedValueState(Institute.AddressState)" name="State" required></select>
                                        <span ng-if="myInstitueForm.$submitted || myInstitueForm.State.$touched">
                                            <p ng-show="myInstitueForm.State.$invalid && myInstitueForm.State.$error.required">Select Valid Selection</p>
                                        </span>
                                    </div>
                                    <div class="col col-33 errors">
                                        <label><span translate="BI_select_dist">District</span><span class="red">*</span></label>
                                        <select ng-model="Institute.AddressDistrict" ng-options="obj.DistrictID as obj.DisplayText for obj in district1" ng-change="changedValueDistrict(Institute.AddressDistrict)" name="District" required></select>
                                        <span ng-if="myInstitueForm.$submitted || myInstitueForm.District.$touched">
                                            <p ng-show="myInstitueForm.District.$invalid && myInstitueForm.District.$error.required">Select Valid Selection</p>
                                        </span>
                                    </div>
                                    <div class="col col-33 errors">
                                        <label><span translate="BI_select_mandal">Mandal</span><span class="red">*</span></label>
                                        <select ng-model="Institute.AddressMandal" ng-options="obj.MandalID as obj.DisplayText for obj in mandal1"ng-change="changedValueMandal(Institute.AddressMandal)" name="Mandal" required></select>
                                        <span ng-if="myInstitueForm.$submitted || myInstitueForm.Mandal.$touched">
                                            <p ng-show="myInstitueForm.Mandal.$invalid && myInstitueForm.Mandal.$error.required">Select Valid Selection</p>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-33 errors">
                                        <label><span translate="BI_select_village">Village</span><span class="red">*</span></label>
                                        <select ng-model="Institute.AddressVillage" ng-options="obj.VillageID as obj.DisplayText for obj in village1" ng-change="changedValueVillage(Institute.AddressVillage)" name="Village" required></select>
                                        <span ng-if="myInstitueForm.$submitted || myInstitueForm.Village.$touched">
                                            <p ng-show="myInstitueForm.Village.$invalid && myInstitueForm.Village.$error.required">Select Valid Selection</p>
                                        </span>
                                    </div>
                                    <div class="col col-33 errors">
                                        <label><span translate="BI_select_habit">Habitation</span><span class="red">*</span></label>
                                        <select ng-model="Institute.AddressHab" ng-options="obj.HabitationID as obj.DisplayText for obj in habitate1" ng-change="changedValueHabitation(Institute.AddressHab)" name="Habitation" required></select>
                                        
                                        <span ng-if="myInstitueForm.$submitted || myInstitueForm.Habitation.$touched">
                                            <p ng-show="myInstitueForm.Habitation.$invalid && myInstitueForm.Habitation.$error.required">Select Valid Selection</p>
                                        </span>
                                        
                                    </div>
                                    <div class="col col-33 errors">
                                        <label><span translate="BI_pin">Pincode</span></label>
                                        <input type="number" placeholder="530016" ng-model="Institute.AddressPin" name="AddressPinCode" ng-minlength="1" ng-maxlength="6" ng-pattern="/[0-9^]/"/>
                                        <span ng-if="myInstitueForm.$submitted || myInstitueForm.AddressPinCode.$touched">
                                            
                                            <p ng-show="myInstitueForm.AddressPinCode.$error.maxlength">PinCode is too long</p>
                                            <p ng-show="myInstitueForm.AddressPinCode.$error.minlength">PicCode is too short</p>
                                            <p ng-show="myInstitueForm.AddressPinCode.$error.pattern">Numeric Only</p>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    
                                    <div class="col errors">
                                        <label><span translate="BI_address1">Address 1</span></label>
                                        <input   type="text" placeholder="Lane Name" ng-model="Institute.AddressL1" ng-minlength="1" ng-maxlength="50" name="AddressLane1"/>
                                        <span ng-if="myInstitueForm.$submitted || myInstitueForm.AddressLane1.$touched">
                                            
                                            <p ng-show="myInstitueForm.AddressLane1.$error.maxlength">Address is too long</p>
                                            <p ng-show="myInstitueForm.AddressLane1.$error.minlength">Address is too short</p>
                                            
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col errors">
                                        <label><span translate="BI_address2">Address 2</span></label>
                                        <input type="text" placeholder="Lane Name" ng-model="Institute.AddressL2" ng-minlength="1" ng-maxlength="50" name="AddressLane2 "/>
                                        <span ng-if="myInstitueForm.$submitted || myInstitueForm.AddressLane2.$touched">
                                            
                                            <p ng-show="myInstitueForm.AddressLane2.$error.maxlength">Address is too long</p>
                                            <p ng-show="myInstitueForm.AddressLane2.$error.minlength">Address is too short</p>
                                            
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <!-- <div class="btn green move_right"   ng-click="myInstitueForm.$valid && AddStaffTab(Institute)" translate="BI_next">Next</div> -->
                                        
                                        <button class="btn green " style="padding:10px 30px !important; float:right;"  type="submit" translate="BI_next">Next</button>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Institute Address Module END -->
                    
                   
                                       </div>
                    <!-- Ng Switch END -->
                    
                </div>
            </div>
            <!-- Institute model END -->
        </ion-content>
        <!-- ion Content END -->
        
    </div>
    
    
</ion-view>

