<ion-view hide-nav-bar="true">
    <div class="bar bar-header">
        <h1 class="title" style="color:#224D56;">Sign Up</h1>
    </div>

    <ion-content class="otp-main"  scroll="false" >


        <div class="login-Container">



            <div class="inputs-Container" style="margin-top:40px; ">


                <div style="background: rgba(255, 255, 255, 0.1);padding:10px; border-radius:10px; margin-top:0px;  width:100%; display:inline-block">

                 <label class=" item-input" style="padding-left:0px;">

                            <input type="text" ng-model="userName" placeholder="User Name" style="color:#736F6E;"/>
                        </label>
                         <label class=" item-input" style="padding-left:0px;">

                            <input type="password" ng-model="password" placeholder="Password" style="color:#736F6E;"/>
                        </label>
                         <label class=" item-input" style="padding-left:0px;">

                            <input type="email" ng-model="email" placeholder="EmailID" style="color:#736F6E;"/>
                        </label>

                <label class=" item-input" style="padding-left:0px;">

                            <input type="text" ng-model="firstName" placeholder="First Name" style="color:#736F6E;"/>
                        </label>

                        <label class=" item-input" style="padding-left:0px;">

                            <input type="text" ng-model="middleName" placeholder="Middle Name" style="color:#736F6E;"/>
                        </label>
                             <label class=" item-input" style="padding-left:0px;">

                            <input type="text" ng-model="lastName" placeholder="Last Name" style="color:#736F6E;"/>
                        </label>


                        <label class="log">
                            <button class="button button-block button-calm"  ng-click="DashBoardPage()">Submit</button>

                        </label>







                </div>
            </div>



        </div>


    </ion-content>

</ion-view>
