<person-basic-info></person-basic-info>
<!--<person-education></person-education>
<person-work-experience></person-work-experience>
<person-education></person-education>
<person-work-experience></person-work-experience>
<person-bank></person-bank>
<person-award></person-award>
<person-sport-award></person-sport-award>
<person-sport></person-sport>
<person-languageproficiency></person-languageproficiency>
<person-livingplace></person-livingplace>
<person-maritalstatus></person-maritalstatus>
<person-vaccination></person-vaccination>
<person-insurance></person-insurance
<person-disease></person-disease>>-->

<person-education></person-education>
<person-relative></person-relative>
<person-demographics></person-demographics>
<person-work-experience></person-work-experience>
<person-religion></person-religion>
<person-identity></person-identity>
<person-visa></person-visa>
<person-hobby></person-hobby>
<person-bank></person-bank>
<person-award></person-award>
<person-sport-award></person-sport-award>
<person-sport></person-sport>
<person-languageproficiency></person-languageproficiency>
<person-livingplace></person-livingplace>
<person-maritalstatus></person-maritalstatus>
<person-vaccination></person-vaccination>
<person-insurance></person-insurance>
<person-disease></person-disease>