<!--
===========================================================================
 All rights reserved to Thrill Innovative Labs.
 THIS CODE AND INFORMATION IS PROVIDED 'AS IS' WITHOUT WARRANTY
 OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
 LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR
 FITNESS FOR A PARTICULAR PURPOSE.
============================================================================
****************************************************************************
 Name               : Person Disease
 Type               : html 
 Description        : html page for person demographics 
 References         :
 Author             :DurgaPrasad
 Created Date       : 20-Apr-2016
****************************************************************************                          
MODIFICATION LOG
**************************************************************************** 
Ver Date         Modified By            Description
****************************************************************************                            
Code Review LOG
**************************************************************************** 
Sno# Ver        Date                Code Review By            Observations
****************************************************************************

create the Root module and name it n3Person also include Dependency Modules 
-->
<div id="main-wrapper">
    <div class="panel-white">
        <div class="col-lg-12">
            <h2>{{diseaseLabels.disease}}</h2></div>

        <form name="diseaseForm" novalidate>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="panel-body">
                        <label>{{diseaseLabels.diseaseType}}<span style="color:red">*</span></label>
                        <select class="form-control" style="width:100%" ng-options="diseaseType.diseaseTypeId as diseaseType.diseaseTypeName for diseaseType in diseaseTypeList" ng-model="disease.diseaseTypeId" name="diseaseTypeID" required>
                            <option value="">--Select--</option>
                        </select>
                        <div class="padding" ng-if="diseaseForm.diseaseTypeID.$touched || diseaseForm.$submitted" style="color:red" required>
                            <p ng-show="diseaseForm.diseaseTypeID.$error.required ">Disease type is required</p>

                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-4 col-md-6">
            <div class="panel-body">
                <label>{{diseaseLabels.diseasePercentage}}<span style="color:red">*</span></label>
                <input class="form-control" ng-model="disease.diseasePercentage" type="number" name="diseasePercentage" required>
                <div class="padding" ng-if="diseaseForm.diseasePercentage.$touched || diseaseForm.$submitted" style="color:red" required>
                    <p ng-show="diseaseForm.diseasePercentage.$error.required ">Disease percentage is required</p>
                </div>
            </div>
        </div> -->

                <div class="col-lg-4 col-md-6">
                    <div class="panel-body">
                        <label>{{diseaseLabels.identifiedDate}}<span style="color:red">*</span></label>
                        <input class="form-control" type="date" name="identifiedDate" ng-model="disease.identifiedDate" required>
                        <div class="padding" ng-if="diseaseForm.identifiedDate.$touched || diseaseForm.$submitted" style="color:red">
                            <p ng-show="diseaseForm.identifiedDate.$error.required ">Identified date is required</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="panel-body">

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="disease.isHospitalized"> {{diseaseLabels.isHospitalized}}
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="panel-body">
                        <label>{{diseaseLabels.hospitalName}}</label>
                        <input class="form-control" type="text" ng-model="disease.hospitalName">

                    </div>
                </div>




            </div>
            <div class="row">
                <div class="col-lg-8 col-md-6">
                    <div class="panel-body">
                        <label>{{diseaseLabels.diseaseDetails}}</label>
                        <textarea id="console" class="form-control" ng-model="disease.details" class="form-control" rows="3"></textarea>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="panel-body">
                        <label>{{diseaseLabels.curedDate}}</label>
                        <input class="form-control" type="date" ng-model="disease.curedDate">

                    </div>
                </div>





            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="panel-body">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="disease.isLifeThreatDisease">{{diseaseLabels.isLifeThreatDisease}}
                            </label>
                        </div>
                        <!--<input type="checkbox" class="form-control" ng-model="disease.isItLifeThreatDisease">
<label>Is LifeThreat Disease<span style="color:red">*</span></label>-->
                    </div>
                </div>

            </div>
            <div class="row">


                <div class="col-lg-8 col-md-6">
                    <div class="panel-body">
                        <label>{{diseaseLabels.remarks}}</label>
                        <textarea id="console" class="form-control" ng-model="disease.remarks" class="form-control" rows="3"></textarea>
                    </div>
                </div>

            </div>



            <div class="row">
                <div style="text-align:center">
                    <button type="submit" ng-click="diseaseForm.$valid&&saveDisease()" class="btn btn-primary">{{diseaseLabels.submit}}</button>
                </div>
            </div>
        </form>
        <br>

        <div class="row">
            <!-- <div style="width:20%">


<div class="form-group">

<input type="text" ng-model="diseaseSearch" class="form-control" placeholder="Search">
</div>


</div>-->
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>{{diseaseLabels.diseaseType}}</th>

                        <th>{{diseaseLabels.isHospitalized}}</th>
                        <th>{{diseaseLabels.hospitalName}}</th>
                        <th>{{diseaseLabels.curedDate}}</th>
                        <th>{{diseaseLabels.edit}}</th>
                        <th>{{diseaseLabels.delete}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="disease in diseaseList">

                        <td>{{disease.diseaseTypeName}}</td>
                        <td>{{(disease.isHospitalized=='true')?'Yes':'No'}}</td>
                        <td>{{disease.hospitalName}}</td>
                        <td>{{disease.curedDate|date:"MM/dd/yyyy"}}</td>

                        <td>
                            <a ng-click="getDisease(disease.referenceKey)"><i class="fa fa-pencil"></i></a>

                        </td>
                        <td>

                            <a ng-click="deleteDisease(disease.referenceKey)"><i class="fa fa-trash"></i></a>


                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>