<!--
===========================================================================
 All rights reserved to Thrill Innovative Labs.
 THIS CODE AND INFORMATION IS PROVIDED 'AS IS' WITHOUT WARRANTY
 OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
 LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR
 FITNESS FOR A PARTICULAR PURPOSE.
============================================================================
****************************************************************************
 Name		    	: Person Bank
 Type		    	: html 
 Description		: html page for person Identity 
 References		    :
 Author	    		: Styanarayana Tippani
 Created Date       : 13-Apr-2016
****************************************************************************                          
MODIFICATION LOG
**************************************************************************** 
Ver	Date	     Modified By			Description
****************************************************************************                            
Code Review LOG
**************************************************************************** 
Sno# Ver        Date                Code Review By            Observations
****************************************************************************

create the Root module and name it n3Person also include Dependency Modules 
-->
<div id="main-wrapper">
    <div class="panel-white">
        <div class="col-lg-12">
            <h2>{{bankLabels.bank}}</h2></div>
        <form name="bankForm" novalidate>
            <div class="row">
                 
                <div class="col-lg-4 col-md-6">
                    <div class="panel-body">
                        <label>{{bankLabels.title}}<span style="color:red">*</span></label>
                        <input class="form-control " type="text" ng-model="bank.bankTitle" name="title" ng-maxlength="30" ng-minlength="3" ng-pattern="/^[a-zA-Z\s]*$/" required>
                        <div class="padding" ng-if="bankForm.title.$touched || bankForm.$submitted" style="color:red">
                            <p ng-show="bankForm.title.$error.required ">Title is required</p>
                            <p ng-show="bankForm.title.$error.minlength">Title is too short must be longer than 3 characters</p>
                            <p ng-show="bankForm.title.$error.maxlength">Title is too long it should be below 30 characters</p>
                            <p ng-show="bankForm.title.$error.pattern">Title accept only alphabetic characters</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel-body">
                        <label>{{bankLabels.address}}<span style="color:red">*</span></label>

                        <input type="text" ng-model="bankLocation.geoLocation" name="geoLocation" class="form-control" required />
                        <div class="padding" ng-if="bankForm.geoLocation.$touched || bankForm.$submitted" style="color:red">
                            <p ng-show="bankForm.geoLocation.$error.required ">Address is required</p>

                        </div>
                        <!--<input class="form-control" ng-model="basic.placeOfBirth" type="text" />-->
                    </div>

                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="panel-body">
                        <label>{{bankLabels.bank}}<span style="color:red">*</span>
                        </label>
                        <select class="form-control" style="width: 100%" ng-options="bank.bankNameId as bank.bankName for bank in bankNames" ng-model="bank.bankNameId" name="bankName" required>


                            <option value="">--Select--</option>


                        </select>

                        <div class="padding" ng-if="bankForm.bankName.$touched || bankForm.$submitted" style="color:red">
                            <p ng-show="bankForm.bankName.$error.required "> Branch is mandatory</p>

                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="panel-body">
                        <label>{{bankLabels.branch}}<span style="color:red">*</span></label>
                        <input class="form-control " type="text" ng-model="bank.branchName" name="branchName" ng-maxlength="30" ng-minlength="3" ng-pattern="/^[a-zA-Z\s]*$/" required>
                        <div class="padding" ng-if="bankForm.branchName.$touched || bankForm.$submitted" style="color:red">
                            <p ng-show="bankForm.branchName.$error.required ">Branch name is required</p>
                            <p ng-show="bankForm.branchName.$error.minlength">Branch name is too short must be longer than 3 characters</p>
                            <p ng-show="bankForm.branchName.$error.maxlength">Branch name is too long it should be below 30 characters</p>
                            <p ng-show="bankForm.branchName.$error.pattern">Branch name accept only alphabetic characters</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel-body">
                        <label>{{bankLabels.accountNumber}}<span style="color:red">*</span></label>
                        <input class="form-control " type="text" ng-model="bank.accountNumber" name="accountNumber" mask-clean='true' mask='999' restrict="reject" clean="true" pattern="[0-9]*" s required>
                        <div class="padding" ng-if="bankForm.accountNumber.$touched || bankForm.$submitted" style="color:red">
                            <p ng-show="bankForm.accountNumber.$error.required ">Account number is required</p>
                            <p ng-show="bankForm.accountNumber.$error.minlength">Account number is too short must be longer than 3 characters</p>
                            <p ng-show="bankForm.accountNumber.$error.maxlength">Account number is too long it should be below 30 characters</p>
                            <p ng-show="bankForm.accountNumber.$error.pattern">Account number accept only Numeric characters</p>
                        </div>


                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel-body">
                        <label>{{bankLabels.iFSCCode}}<span style="color:red">*</span></label>
                        <input class="form-control " type="text" ng-model="bank.iFSCCode" name="iFSCCode" required>
                        <div class="padding" ng-if="bankForm.iFSCCode.$touched || bankForm.$submitted" style="color:red">
                            <p ng-show="bankForm.iFSCCode.$error.required ">IFSC code is required</p>
                            <p ng-show="bankForm.iFSCCode.$error.minlength">IFSC code is too short must be longer than 3 characters</p>
                            <p ng-show="bankForm.iFSCCode.$error.maxlength">IFSC code is too long it should be below 30 characters</p>
                            <p ng-show="bankForm.iFSCCode.$error.pattern">IFSC code accept only Numeric characters</p>
                        </div>

                    </div>
                </div>



            </div>



            <div class="row">
                <div style="text-align:center">
                    <button type="submit" ng-click="bankForm.$valid&&saveBank()" class="btn btn-primary">{{bankLabels.submit}}</button>
                </div>
            </div>
        </form>

        <div class="row">

            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>{{bankLabels.title}}</th>
                        <th>{{bankLabels.address}}</th>
                        <th>{{bankLabels.branch}}</th>
                        <th>{{bankLabels.accountNumber}}</th>
                        <th>{{bankLabels.iFSCCode}}</th>
                        <th>{{bankLabels.edit}}</th>
                        <th>{{bankLabels.delete}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="bank in bankList">


                        <td>{{bank.bankTitle}}</td>
                        <td>{{bank.geoLocation}}</td>
                        <td>{{bank.branchName}}</td>
                        <td>{{bank.accountNumber}}</td>
                        <td>{{bank.iFSCCode}}</td>
                        <td>
                            <a ng-click="getBank(bank.referenceKey)"><i class="fa fa-pencil"></i></a>
                        </td>
                        <td><a ng-click="deleteBank(bank.referenceKey)"><i class="fa fa-trash"></i></a></td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>