<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin">Settings</h4>
    <!--<div ncy-breadcrumb class="pull-right"></div>-->
</div>
    <div class="container-fluid container-fullw">
       <div class="col-md-8">
							<div class="panel panel-white" id="panel1">
								
								<div class="panel-body">
									<p>
										Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
									</p>
									<p>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
									</p>
									<p>
										Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
									</p>
								</div>
								<div class="panel-footer">
									Panel Footer
								</div>
							</div>
						</div>
        </div>
    