<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
    <h4>Department Details</h4>

    <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: USER PROFILE -->
<script>
    //var myCenter=new google.maps.LatLng(51.508742,-0.120850);
</script>

<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <!-- /// controller:  'UserCtrl' -  localtion: assets/js/controllers/userCtrl.js /// -->
            <div>
                <!-- start: USER TABSET -->
                <form name="MYForm" novalidate>
                    <div class="col-md-6">
                        <fieldset>
                            <legend>
                                Basic Info
                            </legend>
                            <div class="row">
                                <div class="form-group" >
                                    <label class="control-label"> Department Name <span class="symbol required"></span> </label>
                                    <input type="text" placeholder="" class="form-control" name="orgName" ng-model="department.departmentName" ng-minlength="5" ng-maxlength="250" required>
                                     <span ng-if="MYForm.$submitted || MYForm.orgName.$touched" style="color:red;">
                        <span class="error text-small block" ng-if="MYForm.orgName.$invalid && MYForm.orgName.$error.required ">Department Name is required.</span>
                        <span ng-if="MYForm.orgName.$error.minlength">Department Name is too short.</span>
                        <span  ng-if="MYForm.orgName.$error.maxlength">Department Name is too long.</span>
                        </span>
                                </div>



                                 <div class="form-group">
                                    <label class="control-label">
                                        Branch 
                                    </label>
                                    <span class="clip-select">
                                    
                                    <select class="js-states form-control" tabindex="-1" style="width: 100%"  ng-model="department.organizationReferenceKey" ng-options="branch.referenceKey as branch.organizationName for branch in branches"name="orgType">
                                        <option value="" >-select-</option>
                                        </select>
                                         
                                    </span>
                         <!--             <span ng-if="MYForm.$submitted || MYForm.orgType.$touched" style="color:red;">
                        <span  ng-if="MYForm.orgType.$invalid && MYForm.orgType.$error.required ">Branch is required.</span>
                        </span> -->
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Parent Department <span></span> </label>
                                     <div class="clip-radio radio-primary">
                                     <span class="clip-select">
                                                <select name="depType" class="form-control" ng-options="dept.departmentID as dept.departmentName for dept in departments" ng-model="department.parentDepartmentID">
                                                    <!--| filter: { departmentID: '!' + department.departmentID }-->
                                        <option value="">--Select--</option>
                                    </select>
                                    </span>
                            <!--                     <span ng-if="MYForm.$submitted || MYForm.depType.$touched" style="color:red;">
                        <span  ng-if="MYForm.depType.$invalid && MYForm.depType.$error.required ">Parent Department is required.</span>
                        </span> -->
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-md-12">
                        <center>
                            <button ng-disabled="!MYForm.$valid" type="button" ng-click="addDepartment()" class="btn btn-wide btn-primary" ng-hide="Organizationupdate" v-pressable>
                                {{buttonText}}
                            </button>

                            <button type="button" class="btn btn-wide btn-primary" ng-click="cancel()" v-pressable>
                                Cancel
                            </button>
                        </center>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>



<!-- end: USER PROFILE -->