<!--/*//=============================================================================
// All rights reserved to Thrill Innovative Labs.
// THIS CODE AND INFORMATION IS PROVIDED 'AS IS' WITHOUT WARRANTY
// OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
// LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR
// FITNESS FOR A PARTICULAR PURPOSE.
//=============================================================================
//*****************************************************************************
//* Name		    	: SpecializationList.html 
//* Type		    	: HTML File
//* Description		    :
//* References		    :
//* Author	    		:
//* Created Date        : 
//*****************************************************************************
//*                             MODIFICATION LOG
//*****************************************************************************
//*  S.No  Ver	     Date	         Modified By			Description

//*****************************************************************************
//*                             Code Review LOG
//*****************************************************************************

//*****************************************************************************
*/-->
<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin">Designations</h4>

    <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: USER PROFILE -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <!-- /// controller:  'UserCtrl' -  localtion: assets/js/controllers/userCtrl.js /// -->

            <div class="col-md-12">

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">
                            Designation
                        </label>
                        <input type="text" placeholder="search by text" class="form-control" name="specialization" ng-model="designationSearch">
                    </div>

                </div>
                <!--
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">
                            City
                        </label>
                        <input type="text" placeholder="Enter City" class="form-control" name="City" ng-model="Branches.City">
                    </div>

                </div>-->
                <div class="col-md-3">

                    <div class="form-group">
                        <div class="col-md-1">
                            &nbsp
                        </div>
                        <div class="col-md-2">



                            <label class="control-label">

                            </label>
                            <!--<button type="button" class="btn  btn-primary" v-pressable>
                            Search
                        </button> -->
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div ng-hide="OrganizationRemove">
                            <!-- <image class="form-control" ></image>  -->
                            <img ng-src="3ilAppBase01/Web/assets/images/Add.PNG" alt="" ng-if="!obj.flow.files.length &amp;&amp; !noImage" class="ng-scope " src="3ilAppBase01/Web/assets/images/Add.PNG" height="18px">
                            <a ng-href="#/app/newDesignation">Add Designation</a>
                        </div>

                    </div>
                </div>

                <div class="col-md-12">

                    <div class="panel panel-white">
                        <div class="panel-body">

                            <!--<h2>{{labelsSpecializationList.specializationHeading}}</h2></div>-->

                            <table id="tblSpecializationList" class="table table-stripped" cellspacing="0" width="100 % ">
                                <thead>
                                    <tr>

                                        <th style="cursor: pointer" ng-click="sortData('designationTitle')">{{labelsDesignationList.designationTitle}}
                                            <div ng-class="getSortClass('designationTitle')"></div>
                                        </th>
                                        <th style="cursor: pointer" ng-click="sortData('designationDetails')">{{labelsDesignationList.designationDetails}}
                                            <div ng-class="getSortClass('designationDetails')"></div>
                                        </th>

                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="designation in designationCollection | itemsPerPage:pageSize | filter:designationSearch | orderBy:sortColumn:reverseSort">
                                        <!--  <tr ng-repeat="designation in designationCollection|filter:designationSearch"> -->
                                        <td>{{ designation.designationTitle }}</td>
                                        <td>{{ designation.designationDetails }}</td>
                                        <td><a ng-click="" href="#/app/editDesignation/{{designation.designationKey}}"><i class="fa fa-pencil"></i></a></td>
                                        <td><a ng-click="deleteDesignation(designation.designationKey)"><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-2" ng-hide="((designationCollection | filter:search).length<=10)||((designationCollection | filter:designationSearch).length==undefined)">
                    <div ng-init="pageSize=10 ">
                        <label for="search">Records per page:</label>
                        <select min="1" max="100" ng-model="pageSize">
<option>10</option> 
<option>20</option> 
<option>30</option> 
</select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12" style="text-align:left">
                    <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true">
                    </dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <!-- end: USER PROFILE -->