<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
   

    
</div>
<!-- end: BREADCRUMB -->
<!-- start: USER PROFILE -->
<div class="container-fluid container-fullw bg-white">
   <div class="row"> 
       <div class="col-md-12">
           <div class="col-md-4"> 
               
           </div>
        <div class="col-md-8"> 
            <h2>Welcome</h2>
           </div>
           
       </div>
         <div class="col-md-12">
           <div class="col-md-2"> 
               
           </div>
        <div class="col-md-8"> 
             <h4>Experience the real time Clinical Practice Application for Child Healthcare</h4>
           </div>
           
       </div>
       
       
       <div class="col-md-12">
           <div class="col-md-2"> 
               
           </div>
        <div class="col-md-10"> 
               <img ng-src="3ilAppBase01/Web/assets/images/Aarushhomepagelogo.png" alt="" ng-if="!obj.flow.files.length &amp;&amp; !noImage" class="ng-scope" src="3ilAppBase01/Web/assets/images/Aarushhomepagelogo.png" ng-click="Redirectstaff(p)" height="300px">
           </div>
           
       </div>
       


    
    </div>
</div>
<!-- end: USER PROFILE -->
