<!DOCTYPE html>
<html>

<body>

 

     
        <div id="main-wrapper">
    <div class="container-fluid container-fullw bg-white">
       <form>
      


        <div class="row">
          
            <div class="col-lg-4 col-md-4">
                <h1></h1>
            </div>
        </div>
           <div class="row">
          
            <div class="col-lg-4 col-md-4">
                <h1></h1>
            </div>
        </div>
           <div class="row">
          
            <div class="col-lg-4 col-md-4">
                <h1></h1>
            </div>
        </div>
           <div class="row">
          
            <div class="col-lg-4 col-md-4">
                <h1></h1>
            </div>
        </div>
           <div class="row">
          
            <div class="col-lg-4 col-md-4">
                <h1></h1>
            </div>
        </div>
           <div class="row">
          
            <div class="col-lg-4 col-md-4">
                <h1></h1>
            </div>
        </div>
           <div class="row">
          
            <div class="col-lg-4 col-md-4">
                <h1></h1>
            </div>
        </div>
           <div class="row">
           <div class="col-lg-4 col-md-4">
                <h1></h1>
            </div>
        </div>
           <div class="row">
            <div class="col-lg-4 col-md-4"></div>
            <div class="col-lg-4 col-md-4">
                <h1>{{EnrollmentNumber}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h4> Please notedown the above Enrollment Number is mandatory for all future communications. This number is also helps you to update student details in nearest future.</h4>
            </div>
        </div>
           <div class="row">
          
            <div class="col-lg-4 col-md-4">
                <h1></h1>
            </div>
        </div>
           <div class="row">
          
            <div class="col-lg-4 col-md-4">
                <h1></h1>
            </div>
        </div>
           <div class="row">
          
            <div class="col-lg-4 col-md-4">
                <h1></h1>
            </div>
        </div>
           <div class="row">
          
            <div class="col-lg-4 col-md-4">
                <h1></h1>
            </div>
        </div>

     
    </form>
</div>
</div>
</body>

</html>