<!-- start: LOGIN -->


<div class="row">
    <div class="main-login">
        <div class="logo text-center">
            <img src="3ilAppBase01/Web/assets/images/logo-big.png" alt="{{app.name}}" class="img-responsive" />
        </div>
        <!--<p class="text-center text-dark text-bold text-extra-large margin-top-15">
            Welcome to Aarush
        </p>-->
        <p class="text-center">

        </p>
        
        <!-- start: LOGIN BOX -->


  <!--<p class="text-center text-dark text-bold text-extra-large margin-top-15">-->
           <center> <h3>The Organization You have Registered with has been deactivated.</h3></center>
        <!--</p>-->

<!--
        <div class="box-login">
            
                <div class="form-actions">
                     <span type="submit" class="btn btn-red btn-block" ng-click="">
                        ok
                    </span>
                  
            
            <div class="copyright">
                Copyright © 2016 Thrill Innovative Labs. All rights reserved.
            </div>
            
        </div>
        -->
    </div>
</div>
<!-- end: LOGIN -->