<!--/*//=============================================================================
// All rights reserved to Thrill Innovative Labs.
// THIS CODE AND INFORMATION IS PROVIDED 'AS IS' WITHOUT WARRANTY
// OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
// LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR
// FITNESS FOR A PARTICULAR PURPOSE.
//=============================================================================
//*****************************************************************************
//* Name                : NewSubject.html 
//* Type                : HTML File
//* Description         :
//* References          :
//* Author              :
//* Created Date        : 
//*****************************************************************************
//*                             MODIFICATION LOG
//*****************************************************************************
//*  S.No  Ver       Date            Modified By            Description

//*****************************************************************************
//*                             Code Review LOG
//*****************************************************************************

//*****************************************************************************
*/-->

<style>
    .validationMessage {
        color: red
    }
    .validationStar {
        color: red
    }
</style>

<div id="main-wrapper">
 <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#/app/marks">Update Marks Student-Wise</a></li>
                 <li><a data-toggle="tab" href="#/app/updateMarksSubjectWise">Update Marks Subject-Wise</a></li>
                
            </ul>

    <div class="container-fluid container-fullw bg-white">
        <!-- <div class="panel-white"> -->
        <form name="subjectForm" novalidate>
            <div class="row">
                <!--  <div class="col-lg-12">
                <h2> {{labelsSubject.subjectHeading}}  </h2>
            </div> -->


 <div class="col-lg-3 col-md-6">
                    <div class="panel-body">
                        <span class="validationStar">*</span> <label>Academic Year</label>
                        <select ng-options="academic.AcademicYearKey as academic.AcademicYearName for academic in yearCollection" value="3" class="form-control " ng-model="entitySubject.AcademicYearKey" name="academicTitle" ng-required="true"> 
                         <option value="">--Select--</option>
                     </select>
                        <span ng-if="groupForm.$submitted || groupForm.boardTitle.$touched" class="validationMessage">
                        <span ng-if="groupForm.boardTitle.$invalid && groupForm.boardTitle.$error.required ">Academic Year is required.</span>

                        </span>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6">
                    <div class="panel-body">
                        <span class="validationStar">*</span> <label>Board</label>
                        <select ng-options="board.boardKey as board.boardTitle for board in boardList" value="3" class="form-control" ng-change="getBoardGroups(entitySubject.boardKey)" ng-model="entitySubject.boardKey" name="boardTitle" ng-required="true"> 
                         <option value="">--Select--</option>
                     </select>




                        <span ng-if="subjectForm.$submitted || subjectForm.boardTitle.$touched" class="validationMessage">
                        <span ng-if="subjectForm.boardTitle.$invalid && subjectForm.boardTitle.$error.required ">Board title is required.</span>

                        </span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="panel-body">
                        <span class="validationStar">*</span> <label>Group/Stream</label>
                        <!--     <select ng-options="group.groupKey as group.groupTitle for group in groupList " value="3" class="form-control " ng-model="entitySubject.groupKey" ng-change="getCoursByGroupKey(entitySubject.groupKey)" name="groupTitle" ng-required="true"> 
                         <option value="">--Select--</option>
                     </select> -->
                        <select ng-options="group.groupKey as group.groupTitle for group in groupList" value="3" class="form-control " ng-model="entitySubject.groupKey" ng-change="getCoursByGroupKey(entitySubject.groupKey)" name="groupTitle" ng-required="true"> 
                         <option value="">--Select--</option>
                     </select>


                        <span ng-if="subjectForm.$submitted || subjectForm.groupTitle.$touched" class="validationMessage">
                        <span ng-if="subjectForm.groupTitle.$invalid && subjectForm.groupTitle.$error.required ">Group title is required.</span>

                        </span>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6">
                    <div class="panel-body">
                        <span class="validationStar">*</span><label>Class/Course</label>
                        <select ng-options="course.courseKey as course.courseTitle for course in courseList" ng-change="getTermByCourseKey(entitySubject.courseKey)" value="3" class="form-control " ng-model="entitySubject.courseKey" name="courseTitle" ng-required="true"> 
                         <option value="">--Select--</option>
                     </select>

                        <span ng-if="subjectForm.$submitted || subjectForm.courseTitle.$touched" class="validationMessage">
                        <span ng-if="subjectForm.courseTitle.$invalid && subjectForm.courseTitle.$error.required ">Course title  is required.</span>
                        </span>
                    </div>
                </div>
</div>
<div class="row">
                      

    <div class="col-lg-3 col-md-6">
                    <div class="panel-body">
                        <span class="validationStar">*</span> <label>Batch</label>
                        <select ng-options="batch.InstituteBatchKey as batch.BatchName for batch in batchList" value="3" class="form-control" ng-change="getBatchByCourseKey(entitySubject.InstituteBatchKey)" ng-model="entitySubject.InstituteBatchKey" name="batchTitle" ng-required="true"> 
                         <option value="">--Select--</option>
                     </select>
                          <span ng-if="batchForm.$submitted || batchForm.boardTitle.$touched" class="validationMessage">
                        <span ng-if="batchForm.boardTitle.$invalid && batchForm.boardTitle.$error.required ">Batch title is required.</span>

                        </span>
                    </div>
                </div>



   <div class="col-lg-3 col-md-6">
                    <div class="panel-body">
                        <span class="validationStar">*</span> <label>Student</label>
                        <select ng-options="" value="3" class="form-control" ng-change="" ng-model="" name="batchTitle" ng-required="true"> 
                         <option value="">--Select--</option>
                     </select>
                          <span ng-if="batchForm.$submitted || batchForm.boardTitle.$touched" class="validationMessage">
                        <span ng-if="batchForm.boardTitle.$invalid && batchForm.boardTitle.$error.required ">Student  is required.</span>

                        </span>
                    </div>
                </div>


   <div class="col-lg-3 col-md-6">
                    <div class="panel-body">
                        <span class="validationStar">*</span> <label>Exam Name</label>
                        <select ng-options="" value="3" class="form-control" ng-change="" ng-model="" name="batchTitle" ng-required="true"> 
                         <option value="">--Select--</option>
                     </select>
                          <span ng-if="batchForm.$submitted || batchForm.boardTitle.$touched" class="validationMessage">
                        <span ng-if="batchForm.boardTitle.$invalid && batchForm.boardTitle.$error.required ">Student  is required.</span>

                        </span>
                    </div>
                </div>


             
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="panel-body">
                            <div ng-if="save">
                                <button type="submit" class="btn btn-wide btn-primary" ng-click="marksForm.$valid&&manageMarks()">Manage Marks</button>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </form>

         </div>
         </div>
