<!--
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin">Organization List</h4>

    <div ncy-breadcrumb class="pull-right"></div>
</div>-->
<!-- end: BREADCRUMB -->
<!-- start: USER PROFILE -->

<p class="text-right">
    <!--Already have an account?-->

</p>
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <!-- /// controller:  'UserCtrl' -  localtion: assets/js/controllers/userCtrl.js /// -->

            <div class="col-md-12">

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">
                            Organization Search
                        </label>
                        <input type="text" placeholder="search by text" class="form-control" name="BranchName" ng-model="branchSearch">
                    </div>

                </div>
                <!--
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">
                            City
                        </label>
                        <input type="text" placeholder="Enter City" class="form-control" name="City" ng-model="Branches.City">
                    </div>

                </div>-->
                <div class="col-md-3">

                    <div class="form-group">
                        <div class="col-md-1">
                            &nbsp
                        </div>
                        <div class="col-md-2">



                            <label class="control-label">

                            </label>
                            <!--<button type="button" class="btn  btn-primary" v-pressable>
                            Search
                        </button> -->
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div ng-hide="OrganizationRemove">
                            <!-- <image class="form-control" ></image>  -->
                            <img ng-src="3ilAppBase01/Web/assets/images/Add.PNG" alt="" ng-if="!obj.flow.files.length &amp;&amp; !noImage" class="ng-scope " src="3ilAppBase01/Web/assets/images/Add.PNG" height="18px">
                           <label> <a ng-click="addOrg1()">Add Organization</a></label>
                        </div>

                    </div>
                </div>
    <div class="col-md-3">
                    <div class="form-group">
                        <div ng-hide="OrganizationRemove">
                            <!-- <image class="form-control" ></image>  -->
                           
                           <label> <a ng-click="customerLogin()">Customer Login</a></label>
                        </div>

                    </div>
                </div>
                <div class="col-md-12">

                    <div class="panel panel-white">
                        <div class="panel-body">
                            <table class="table table-hover" id="sample-table-1">
                                <thead>
                                    <tr>

                                        <th style="cursor: pointer" ng-click="sortData('BranchTitle')">Organization Type
                                            <div ng-class="getSortClass('BranchTitle')"></div>
                                        </th>
                                        <th style="cursor: pointer" ng-click="sortData('organizationName')">Organization Name
                                            <div ng-class="getSortClass('organizationName')"></div>
                                        </th>
                                        <!--
                                        <th>Admin First Name</th>
                                        <th>Admin Last Name</th>
                                        <th>Admin Email </th>  -->

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr dir-paginate="Organization in organizationDetails | itemsPerPage:pageSize | filter:branchSearch | orderBy:sortColumn:reverseSort">
                                        <!-- <tr ng-repeat="Organization in organizationDetails|filter:branchSearch|orderBy:sortColumn:reverseSort"> -->

                                        <!-- <td>{{p.id}}</td>-->
                                        <td>{{Organization.organizationTypeTitle}}</td>
                                        <td>{{Organization.organizationName}}</td>
                                        <td>{{(Organization.isActive.data[0]==1)?'Active':'In Active'}}</td>
                                        <!-- 
                                        <td>{{Organization.parentOrganizationName}}</td>
                                        <td>{{Organization.parentOrganizationName}}</td>
                                        <td>{{Organization.parentOrganizationName}}</td>
                                        -->

                                        <td>
                                            <div class="visible-md visible-lg hidden-sm hidden-xs">

                                                <a href="#/EditOrganization/{{Organization.referenceKey}}"><i class="fa fa-pencil"></i></a>


                                            </div>
                                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                <div class="btn-group" uib-dropdown>
                                                    <button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" uib-dropdown-toggle>
                                                        <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                                        <li>
                                                            <a ng-click="" href="#/EditOrganization/{{organization.referenceKey}}"><i class="fa fa-pencil"></i></a>

                                                        </li>

                                                        <!-- <li>
                                                            <a href="#" ng-click="deleteSubOrg(subOrganization.referenceKey)" ng-hide="OrganizationRemove"> Remove </a>
                                                        </li> -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>

                                        <!-- <td><a href="#organizationRegistration/{{p.name}}">{{p.name}}<a></td>  !-->
                                    </tr>
                                    <tbody>
                            </table>
                        </div>
                    </div>
                </div>

             <!--    <div class="col-md-2" ng-hide="(organizationDetails | filter:branchSearch).length<=14">
                    <div ng-init="pageSize=10 ">
                        <label for="search">Records per page:</label>
                        <select min="1" max="100" ng-model="pageSize">
                            <option>10</option>
                            <option>20</option>
                            <option>30</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12" style="text-align:left">
                    <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true">
                    </dir-pagination-controls>
                </div> -->

 <div class="col-md-2" ng-hide="((organizationDetails | filter:search).length<=10)||((organizationDetails | filter:search).length==undefined)">
                    <div ng-init="pageSize=10 ">
                        <label for="search">Records per page:</label>
                        <select min="1" max="100" ng-model="pageSize">
<option>10</option> 
<option>20</option> 
<option>30</option> 
</select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12" style="text-align:left">
                    <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true">
                    </dir-pagination-controls>
                </div>
   </div>


            </div>
        </div>
    </div>
    <!-- end: USER PROFILE