<!--
===========================================================================
 All rights reserved to Thrill Innovative Labs.
 THIS CODE AND INFORMATION IS PROVIDED 'AS IS' WITHOUT WARRANTY
 OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
 LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR
 FITNESS FOR A PARTICULAR PURPOSE.
============================================================================
****************************************************************************
 Name		    	: Person Relative
 Type		    	: html 
 Description		: html page for person Relative 
 References		    :
 Author	    		: SreeLakshmi Chinnala
 Created Date       : 06-Apr-2016
****************************************************************************                          
MODIFICATION LOG
**************************************************************************** 
Ver	Date	     Modified By			Description
****************************************************************************                            
Code Review LOG
**************************************************************************** 
Sno# Ver        Date                Code Review By            Observations
****************************************************************************

create the Root module and name it n3Person also include Dependency Modules 
-->

<style>
    .validationMessage {
        color: red
    }
    
    .validationStar {
        color: red
    }
</style>
<div id="main-wrapper">
    <div class="container-fluid container-fullw bg-white">



<form name="relativeForm" >
    <div class="col-lg-12">
    

    <!--     <div class="col-lg-4 col-md-6">
            <div class="panel-body">
                <label>{{relativeLabels.name}}<span style="color:red">*</span>
                </label>
                <input class="form-control " type="text" ng-model="relativePerson.FirstName" name="title" required>
                <div class="padding" ng-if="relativeForm.title.$touched || relativeForm.$submitted" style="color:red">
                    <p ng-show="relativeForm.title.$error.required "> Name is mandatory</p>

                </div>
            </div>
        </div> -->
<fieldset ng-disabled="details">  
    <div class="row">
     <div class="col-lg-4 col-md-6">
                    <div class="form-group" ng-class="{'has-error':relativeForm.title.$dirty && relativeForm.title.$invalid, 'has-success':relativeForm.title.$valid}">
             <label>{{relativeLabels.name}} <span class="symbol required"></span> </label> <span class="clip-select">
                        <input class="form-control" type="text" name="title" ng-model="relativePerson.FirstName" ng-maxlength="30" ng-minlength="3" ng-pattern="/^[a-zA-Z\s]*$/" ng-required="true"></span>
                         <span class="error text-small block" ng-if="relativeForm.title.$dirty && relativeForm.title.$invalid" style="color:red">    
                              <p ng-show="relativeForm.title.$invalid && relativeForm.title.$error.required">Title is required</p>
                      <p ng-show="relativeForm.title.$error.minlength">Name be minimum of 3 characters</p>
                        <p ng-show="relativeForm.title.$error.maxlength">Namebe maximum of 30 characters</p> 
                            <p ng-show="relativeForm.title.$error.pattern">Name accept only alphabetic characters</p>
                        </span> </div>
                </div>



        <div class="col-lg-4 col-md-6">
            <div class="form-group" ng-class="{'has-error':relativeForm.relationTyes.$dirty && relativeForm.relationTyes.$invalid, 'has-success':relativeForm.relationTyes.$valid}">
                <label>{{relativeLabels.relationType}}<span class="symbol required"></span> </label> <span class="clip-select">
              
                <select class="form-control" style="width: 100%" ng-options="relation.relationTypeId as relation.relationTypeName for relation in relationTypes" ng-model="relative.relationTypeId" name="relationTyes" required>


                   <option value="">--Select--</option>
                </select></span>
              <span class="error text-small block" ng-if="relativeForm.relationTyes.$dirty && relativeForm.relationTyes.$invalid" style="color:red">    
                 <p ng-show="relativeForm.relationTyes.$invalid && relativeForm.relationTyes.$error.required">Relation Type is required</p></span>
           
        </div>
    </div>


        <div class="col-lg-4 col-md-6">
            <div class="panel-body">

                <div class="checkbox">

                <input type="checkbox" id="checkbox1" ng-model="relative.isGaurdian">
<label for="checkbox1">{{relativeLabels.isGaurdian}}</label> 
                    <!-- <label>
                        <input type="checkbox" ng-model="relative.isGaurdian"> {{relativeLabels.isGaurdian}}
                    </label> -->
                </div>

            </div>
        </div>
    </div>
   <div class="row">
     <div class="col-lg-4 col-md-6">
                    <div class="form-group" ng-class="{'has-error':relativeForm.contact.$dirty && relativeForm.contact.$invalid, 'has-success':relativeForm.contact.$valid}">
             <label>{{relativeLabels.contact}} <span class="symbol required"></span> </label> <span class="clip-select">
                        <input class="form-control" type="text" name="contact" ng-model="relativePerson.primaryMobileNumber" ng-maxlength="10" ng-minlength="10" ng-pattern="/^[0-9]{1,10}$/" ng-required="true"></span>
                        
                        <span class="error text-small block" ng-if="(relativeForm.contact.$dirty ||relativeForm.$submitted) && relativeForm.contact.$invalid">    
                                  <p ng-show="relativeForm.contact.$error.minlength">Contact must be minimum of 10 digits</p>
                        <p ng-show="relativeForm.contact.$error.maxlength">Contact must be maximum of 10 digits</p>        
                                        <p ng-show="relativeForm.contact.$invalid && relativeForm.contact.$error.required" style="color:#a94442">Mobile number is required</p>
                       <p ng-show="relativeForm.contact.$error.pattern" style="color:#a94442">Invalid mobile number</p>
                                  </span>
                         </div>
                </div>
        <div class="col-lg-4 col-md-6">
         <div class="form-group" ng-class="{'has-error':relativeForm.EmailId.$dirty && relativeForm.EmailId.$invalid, 'has-success':relativeForm.EmailId.$valid}">
                                    <label class="control-label">{{relativeLabels.email}} <span class="symbol required"></span></label>
                                    <input type="text" class="form-control" placeholder="" ng-model="relativePerson.emailId" name="EmailId"  ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required> <span class="error text-small block" ng-if="(relativeForm.EmailId.$dirty ||relativeForm.$submitted) && relativeForm.EmailId.$invalid">    
                                       
                                        <p ng-show="relativeForm.EmailId.$invalid && relativeForm.EmailId.$error.required" style="color:#a94442">Email id is required</p>
                       <p ng-show="relativeForm.EmailId.$error.pattern" style="color:#a94442">Invalid email id</p>
                                    
                                    </span> </div>
       </div>

        </div> 
        
          
      </fieldset>  

    <div class="row">
        <div style="text-align:center">
          <!--   <button type="submit" ng-click="relativeForm.$valid&&saveRelative()" class="btn btn-primary">{{relativeLabels.submit}}</button> -->
<button type="button" ng-hide="personrelative" class="btn btn-wide btn-primary" ng-disabled="relativeForm.$invalid" ng-click="relativeForm.$valid && saveRelative()" v-pressable>{{relativeLabels.submit}}</button>


        </div>
    </div>


</form>




 
  

        <div class="row">
            <div class="col-md-12">
                <div class="panel-body">

                  

<table id="tblExaminationTypeList" class="table table-stripped" cellspacing="0" width="100 % ">
                            <thead>
                                <tr>
                                   <th>{{relativeLabels.name}}</th>
                                <th>{{relativeLabels.relationType}}</th>
                                <th>{{relativeLabels.isGaurdian}}</th>
                                <th>{{relativeLabels.edit}}</th>
                                <th ng-hide="personrelative">{{relativeLabels.delete}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="relative in relatives">
                                <td>{{relative.relativeName}}</td>
                                <td>{{relative.relationTypeName}}</td>
                                <td>{{relative.isGaurdian.data[0] ==1?'Yes':'No'}}</td>



                                <td>
                                    <a ng-click="getRelative(relative.referenceKey)"><i class="fa fa-pencil"></i></a>
                                </td>
                                <td ng-hide="personrelative"><a ng-click="deleteRelative(relative.referenceKey)"><i class="fa fa-trash"></i></a></td>



                            </tr>
                            </tbody>
                        </table>


                    
                </div>
            </div>
        </div>
 
</div>
</div>