<!-- start: LOGIN -->
<!--
<script type="text/javascript">
    'use strict';
    app.controller('Login', function($scope, $filter, TempDataService, $rootScope, $localStorage, $state) {

        $localStorage.Image = "3ilAppBase01/Web/assets/images/Kiran.jpg";
        $localStorage.Role = "Admin";

    });
</script>-->

<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
    <h4>Change Password</h4>

    <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: USER PROFILE -->
<script>
    //var myCenter=new google.maps.LatLng(51.508742,-0.120850);
</script>

<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <!-- /// controller:  'UserCtrl' -  localtion: assets/js/controllers/userCtrl.js /// -->
            <div>
                <!-- start: USER TABSET -->
                <form name="MYForm" novalidate>
                    <div class="col-md-6">
                        <fieldset>
                            <legend>

                            </legend>
                            <div class="row">
                                <div class="form-group" ng-class="{'has-error':MYForm.currentpsw.$dirty && MYForm.currentpsw.$invalid, 'has-success':MYForm.currentpsw.$valid}">
                                    <label ng-show="msg"><span style="color:red;">Current Password  is incorrect</span></label>

                                    <label class="control-label"> Current Password <span class="symbol required"></span> </label>
                                    <input type="password" placeholder="" class="form-control" name="currentpsw" ng-model="password.current" required>
                                    <span ng-if="MYForm.$submitted || MYForm.currentpsw.$touched" style="color:red;">
                        <span class="error text-small block" ng-if="MYForm.currentpsw.$invalid && MYForm.currentpsw.$error.required ">Current password is required.</span>
                                    <!--                                    <span ng-if="MYForm.orgName.$error.minlength">Branch Type Title is too short.</span>
                                    <span ng-if="MYForm.orgName.$error.maxlength">Branch Type Title is too long.</span>-->
                                    </span>
                                </div>

                                <div class="form-group" ng-class="{'has-error':MYForm.newpsw.$dirty && MYForm.newpsw.$invalid, 'has-success':MYForm.newpsw.$valid}">

                                    <label class="control-label"> New Password <span class="symbol required"></span> </label>
                                    <input type="password" placeholder="" class="form-control" name="newpsw" ng-model="password.Password" ng-minlength="5" ng-maxlength="30" required>
                                    <span ng-if="MYForm.$submitted || MYForm.newpsw.$touched" style="color:red;">
                        <span class="error text-small block" ng-if="MYForm.newpsw.$invalid && MYForm.newpsw.$error.required ">New Password is required.</span>
                                    <span class="error text-small block" ng-if="MYForm.newpsw.$error.minlength">New Password is too short.</span>
                                    <span class="error text-small block" ng-if="MYForm.orgName.$newpsw.maxlength">New Password is too long.</span>
                                    </span>
                                </div>

                                <div class="form-group" ng-class="{'has-error':((MYForm.repsw.$dirty && MYForm.repsw.$invalid)||(password.Password!=password.ReEnterPassword)), 'has-success':MYForm.repsw.$valid}">

                                    <label class="control-label"> Re-enter Password <span class="symbol required"></span> </label>
                                    <input type="password" placeholder="" class="form-control" name="repsw" ng-model="password.ReEnterPassword" required>
                                    <span ng-if="MYForm.$submitted || MYForm.repsw.$touched" style="color:red;">
                        <span class="error text-small block" ng-if="MYForm.repsw.$invalid && MYForm.repsw.$error.required">Re-enter is required.</span>
                                    <span class="error text-small block" ng-if="password.Password!=password.ReEnterPassword">not matched.</span>

                                    </span>
                                </div>



                            </div>
                        </fieldset>
                    </div>

                    <div class="col-md-12">
                        <center>
                            <button ng-disabled="!MYForm.$valid || (password.Password!=password.ReEnterPassword)" type="button" ng-click="passwordSubmit()" class="btn btn-wide btn-primary" v-pressable>
                                Change Password
                            </button>

                            <!--
                            <button type="button" class="btn btn-wide btn-primary" ng-click="cancel()" v-pressable>
                                Cancel
                            </button>-->
                        </center>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>





<!--
<div class="row">
    <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5">
        <div class="logo text-center">
            <img src="3ilAppBase01/Web/assets/images/logo-big.png" alt="{{app.name}}" class="img-responsive" />
        </div>
        <p class="text-center text-dark text-bold text-extra-large margin-top-15">

        </p>
        <p class="text-center">

        </p>
        <p class="text-center">
            <h5><i><b> Change Password</b></i></h5>

        </p>
  
        <div class="box-login">
            <form class="form-login" action="index.html">
                <label ng-show="msg"><span style="color:red;">Current Password  is incorrect</span></label>
                <div class="form-group">
                    <label>Current Password</label>
                    <input class="form-control" name="password" ng-model="password.current" type="password">
                </div>
                <div class="form-group form-actions">
                    <label>New Password</label>
                    <input type="password" class="form-control password" name="password" ng-model="password.Password">

                </div>

                <div class="form-group form-actions">
                    <label>Re-enter Password</label>
                    <input type="password" class="form-control password" ng-model="password.ReEnterPassword" name="Rpassword">

                </div>

                <div class="form-actions">
                    <span type="submit" class="btn btn-wide btn-primary" ng-click="passwordSubmit()">
                        Save
                    </span>
                  
                </div>
               
        </div>
    </div>
    -->
<!-- end: LOGIN -->