
<style>
    .validationMessage {
        color: red
    }
    .validationStar {
        color: red
    }
</style>

<div id="main-wrapper">


    <div class="container-fluid container-fullw bg-white">
        <!-- <div class="panel-white"> -->
        <form name="startForm" novalidate>
      <div class="row">
 <div class="col-md-4"></div>
     <div class="col-md-4">
  <input type="radio" name="">
 <label>New Student Enrollment</label>
 </div>
 </div>
 <div class="row">
  <div class="col-md-4"></div>
  <button type="button"   ng-click="next()" class="btn btn-wide btn-primary" v-pressable>Next</button>
  </div>

        </form>

         </div>
         </div>