<!--/*//=============================================================================
// All rights reserved to Thrill Innovative Labs.
// THIS CODE AND INFORMATION IS PROVIDED 'AS IS' WITHOUT WARRANTY
// OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
// LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR
// FITNESS FOR A PARTICULAR PURPOSE.
//=============================================================================
//*****************************************************************************
//* Name		    	: examinationList.html 
//* Type		    	: Mobile HTML File
//* Description		    :
//* References		    :
//* Author	    		:
//* Created Date        : 
//*****************************************************************************
//*                             MODIFICATION LOG
//*****************************************************************************
//*  S.No  Ver	     Date	         Modified By			Description

//*****************************************************************************
//*                             Code Review LOG
//*****************************************************************************

//*****************************************************************************
*/-->

<ion-view view-title="examination List">
	 <ion-content scroll="true">
		 <div class="">
			 <div class="container">
				 <div class="list examination_table">
					 <div class="row item" dir-paginate="entityexamination in collectionexamination | orderBy:sortColumn: reverseSort | orderBy:sortKey: reverse | itemsPerPage:pageSize">
						 <div class="col col-80">

							 {{ entityexamination.examinationTitle }}
							 &nbsp;
						 </div>
						 <div class="col col-10">
							 <a  ng-click="" href="#/app/editexamination/{{entityexamination.examinationKey}}"><span  class="new_icon ion-edit"></span></a>
						 </div>
						 <div class="col col-10">
							 <a ng-click="deleteexamination(entityexamination.examinationKey)"><span class="new_icon ion-trash-a"></span></a>
						 </div>
					 </div>
				 </div>
			 </div>
		 </div>
	 </ion-content>
</ion-view>
