<!--/*//=============================================================================
// All rights reserved to Thrill Innovative Labs.
// THIS CODE AND INFORMATION IS PROVIDED 'AS IS' WITHOUT WARRANTY
// OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
// LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR
// FITNESS FOR A PARTICULAR PURPOSE.
//=============================================================================
//*****************************************************************************
//* Name		    	: GroupList.html 
//* Type		    	: HTML File
//* Description		    :
//* References		    :
//* Author	    		:
//* Created Date        : 
//*****************************************************************************
//*                             MODIFICATION LOG
//*****************************************************************************
//*  S.No  Ver	     Date	         Modified By			Description

//*****************************************************************************
//*                             Code Review LOG
//*****************************************************************************

//*****************************************************************************
*/-->

<div class="panel-white">
    <div class="col-lg-12">
        <h2>{{labelsGroupList.groupHeading}}</h2></div>
    <table>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-body">
				 <table id="tblGroupList" class="table table-stripped" cellspacing="0" width="100 % ">
					 <thead>
						 <tr> 
							 <th>{{labelsGroupList.groupTitle}}</th>
							 <th>Edit</th>
							 <th>Delete</th>
						 </tr> 
						 </thead> 
					 <tbody> 
						 <tr ng-repeat="entityGroup in groupCollection">
							 <td>{{ entityGroup.grouptitle }}</td>
							 <td><a ng-click="" href="#/app/editGroup/{{entityGroup.groupkey}}"><i class="fa fa-pencil"></i></a></td>
							 <td><a ng-click="deleteGroup(entityGroup.groupkey)"><i class="fa fa-trash"></i></a></td>
					 </tr>
			 </tbody>
		 </table>
		 </div>
</div>
         </div>
    </table>
</div>
