<!--/*//=============================================================================
// All rights reserved to Thrill Innovative Labs.
// THIS CODE AND INFORMATION IS PROVIDED 'AS IS' WITHOUT WARRANTY
// OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
// LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR
// FITNESS FOR A PARTICULAR PURPOSE.
//=============================================================================
//*****************************************************************************
//* Name		    	: NewBoard.html 
//* Type		    	: HTML File
//* Description		    :
//* References		    :
//* Author	    		:
//* Created Date        : 
//*****************************************************************************
//*                             MODIFICATION LOG
//*****************************************************************************
//*  S.No  Ver	     Date	         Modified By			Description

//*****************************************************************************
//*                             Code Review LOG
//*****************************************************************************

//*****************************************************************************
*/-->
</style>
<div id="main-wrapper">
    <div class="container-fluid container-fullw bg-white">
        <!-- <div class="panel-white"> -->
        <form name="boardForm" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-class="{'has-error':boardForm.boardTitle.$dirty && boardForm.boardTitle.$invalid, 'has-success':boardForm.boardTitle.$valid}">
                        <label>{{labelsBoard.boardTitle}} <span class="symbol required"></span></label>
                        <input class="form-control" id="input-Default" ng-model="entityBoard.boardTitle" name="boardTitle" type="text" ng-minlength="3" ng-maxlength="80" ng-pattern="/^[ A-Za-z0-9_@./#&+-]*$/" ng-required="true"> <span class="error text-small block"
                            ng-if="boardForm.boardTitle.$invalid &&   boardForm.boardTitle.$dirty">
                         <p ng-show="boardForm.boardTitle.$error.required">BoardTitle is required</p>
                        <p ng-show="boardForm.boardTitle.$error.minlength">BoardTitle minimum length is 3 characters</p>
                        <p ng-show="boardForm.boardTitle.$error.maxlength">BoardTitle maximum length is 80 characters</p>
                        <p ng-show="boardForm.boardTitle.$error.pattern">Alphabets only</p>
                        </span> </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="panel-body">
                            <center>
                                <div ng-if="save">
                                    <button type="submit" ng-disabled="boardForm.$invalid" class="btn btn-wide btn-primary" ng-show="save" ng-click="boardForm.$valid&&addBoard()">{{labelsBoard.submit}}</button>
                                </div>
                                <div ng-if="update">
                                    <button type="submit" ng-disabled="boardForm.$invalid" class="btn btn-wide btn-primary" ng-show="update" ng-click="boardForm.$valid&&updateBoard()">{{labelsBoard.update}}</button>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </form>
         
        <table>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                         
                        <table id="tblBoardList" class="table table-stripped" cellspacing="0" width="100 % ">
                            <thead>
                                <tr>
                                    <th>Board</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="entityBoard in boardCollection">
                                    <td>{{entityBoard.boardTitle}}</td>
                                    <td><a ng-click="editBoard(entityBoard.boardKey)"><i class="fa fa-pencil"></i></a></td>
                                    <td><a ng-click="deleteBoard(entityBoard.boardKey)"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </table>
    </div>
</div>