
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin">Daily Routines</h4>

   
</div>
<!-- end: BREADCRUMB -->
<!-- start: USER PROFILE -->


<div class="container-fluid container-fullw bg-white">
 <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#/app/applyLeave">Apply Leave</a></li>
                 <li><a data-toggle="tab" href="#/app/leaveRequest">MyLeaveRequests</a></li>
                        
                
            </ul>

</div>





<!-- end: USER PROFILE