<!--/*//=============================================================================
// All rights reserved to Thrill Innovative Labs.
// THIS CODE AND INFORMATION IS PROVIDED 'AS IS' WITHOUT WARRANTY
// OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
// LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR
// FITNESS FOR A PARTICULAR PURPOSE.
//=============================================================================
//*****************************************************************************
//* Name		    	: NewStudentLeaveRequestMode.html 
//* Type		    	: HTML File
//* Description		    :
//* References		    :
//* Author	    		:
//* Created Date        : 
//*****************************************************************************
//*                             MODIFICATION LOG
//*****************************************************************************
//*  S.No  Ver	     Date	         Modified By			Description

//*****************************************************************************
//*                             Code Review LOG
//*****************************************************************************

//*****************************************************************************
*/-->

<div id="main-wrapper">
    <div class="panel-white">
        <div class="row">
            <div class="col-lg-12">
                <h2> {{labelsStudentLeaveRequestMode.studentLeaveRequestModeHeading}}  </h2>
            </div>
			 <div class="col-lg-3 col-md-6">
				 <div class="panel-body">
					 <label>{{labelsStudentLeaveRequestMode.studentLeaveRequestModeTitle}}</label>
					 <input class="form-control" id="input-Default" ng-model="entityStudentLeaveRequestMode.studentLeaveRequestModeTitle" name="studentLeaveRequestModeTitle" type="text" ng-minlength = "4" ng-maxlength = "80" > 
				 </div>
			 </div>
			 <div class="col-lg-3 col-md-6">
				 <div class="panel-body">
					 <label>{{labelsStudentLeaveRequestMode.instanceOrganizationKey}}</label>
					 <select ng-options="" value="3" class="form-control "  ng-model="entityStudentLeaveRequestMode.instanceOrganizationKey" name="instanceOrganizationKey" > 
						 <option value="">--Select--</option>
					 </select>
				 </div>
			 </div>
			 <div class="row"><div class="col-md-3">
				 <div class="panel-body">
					 <button type="submit" class="btn btn-default" ng-click="addStudentLeaveRequestMode()">{{labelsStudentLeaveRequestMode.submit}}</button>
				 </div>
			 </div>
		 </div>
			 </div>
		 </div>
	 </div>
