<!--/*=======================================================================
 All rights reserved to  Thrill Innovative Labs.
 THIS CODE AND INFORMATION IS PROVIDED 'AS IS' WITHOUT WARRANTY
 OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
 LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR
 FITNESS FOR A PARTICULAR PURPOSE.
===========================================================================
****************************************************************************
 Name                : login.html
 Type                : IONIC & HTML
 Description         :
 References          :
 Author              :  Satya kalyani Lanka
 Created Date        :  07-Apr-2016
****************************************************************************
MODIFICATION LOG
**************************************************************************** 
Ver	Date	     Modified By			Description
****************************************************************************  
Code Review LOG
**************************************************************************** 
S.No      Ver        Date                Code Review By            Observations
1        1.0       13-April-2016         Sri Venkatesh.T           No Issues

****************************************************************************/-->
<ion-view hide-nav-bar="true">
  
  <ion-content class="login-main" scroll="false" style="">
	<div class="login-Container">
		<div class="inputs-Container">
			<div class="hm_logo"><img src="img/hm_logo.png" class="rbsk-img-responsive" /></div>
  			<div style="background: rgba(255, 255, 255, 0.1);padding:20px; border-radius:10px; margin-top:15px;  width:100%; display:inline-block">    
  				<form ng-submit="doLogin()" class="login_form_cont" >
    
    	
    
        <label class=" item-input" style="padding-left:0px;">
           
          <input type="text" ng-model="username" placeholder="Username">
        </label>
        <label class=" item-input" style="padding-left:0px;">
           
          <input type="password" ng-model="password" placeholder="******" />
        </label>
        <ion-checkbox ng-model="isChecked" class="login_chk">Remember Password</ion-checkbox>
        <label class="log">
          <button class="button button-block login_button"  ng-click="DashBoardPage()">Log in</button>

        </label>
     
      <a href="#" style="color:#fff; text-decoration:none">Forgot Password ?</a>

   			</form>
       </div>
  </div>
  </div> 
    
</ion-content> 
</ion-view>
