<!--/*=======================================================================
  All rights reserved to Thrill Innovations Lab.
 THIS CODE AND INFORMATION IS PROVIDED 'AS IS' WITHOUT WARRANTY
 OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
 LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR
 FITNESS FOR A PARTICULAR PURPOSE.
===========================================================================
****************************************************************************
 Name                : Change Password 
 Type                : Html 
 Description         : This HTML file dispalys Change Password 
 References          :
 Author              :  Tulasi Ballada
 Created Date        :  07-Apl-2016
****************************************************************************
MODIFICATION LOG

**************************************************************************** 
Ver Date         Modified By            Description

****************************************************************************  
Code Review LOG
**************************************************************************** 
S.No      Ver        Date                Code Review By            Observations
1         1.0       15-April-2016         Sri Venkatesh.T           No Issues
****************************************************************************
*/-->
<div id="main-wrapper">
    <div class="panel-white">
        <form name="UserName">
            <div id="main-wrapper">
                <div class="panel-white">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="panel-body">
                                <label>{{securityChangePassword.enterCurrentPassword}}<span style="color:red">*</span></label>
                                <input class="form-control" ng-model="password.current" type="password" name="UserName" ng-minlength="2" ng-required="true" maxlength="50" />
                                <span ng-if="UserForm.$submitted || UserForm.UserName.$touched">
                                    <p ng-show="UserForm.UserName.$invalid && UserForm.UserName.$error.required">password is required</p>
                                    <p ng-show="UserForm.UserName.$error.minlength">password is too short</p>
                                    <p ng-show="UserForm.UserName.$error.pattern">Alphabets Only</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="panel-body">
                                <label>{{securityChangePassword.password}}<span style="color:red">*</span></label>
                                <input class="form-control" ng-model="password.Password" type="password" name="UserName" ng-minlength="2" ng-required="true" maxlength="50" />
                                <span ng-if="UserForm.$submitted || UserForm.UserName.$touched">
                                    <p ng-show="UserForm.UserName.$invalid && UserForm.UserName.$error.required">password is required</p>
                                    <p ng-show="UserForm.UserName.$error.minlength">password is too short</p>
                                    <p ng-show="UserForm.UserName.$error.pattern">Alphabets Only</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="panel-body">
                                <label>{{securityChangePassword.reEnterPassword}}<span style="color:red">*</span></label>
                                <input class="form-control" ng-model="password.ReEnterPassword" type="password" name="FirstName" ng-minlength="2" ng-required="true" maxlength="25" />
                                
                                <div ng-show="password.Password!=password.ReEnterPassword"><span style="color:red;">Passwords do not match.</span></div>

                                <span ng-if="UserForm.$submitted || UserForm.FirstName.$touched">
                                    <p ng-show="UserForm.FirstName.$invalid && UserForm.FirstName.$error.required">password is required</p>
                                    <p ng-show="UserForm.FirstName.$error.minlength">password is too short</p>
                                    <p ng-show="UserForm.FirstName.$error.pattern">Alphabets Only</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div style="text-align:center" class="row">
                        <button name="type_saveid" ng-click="passwordSubmit()" class="btn btn-primary">{{securityChangePassword.submit}}</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- form -->
    </div>
    <!-- panel white -->
</div>
<!-- Main Wrapper -->