<div id="main-wrapper">
    <div class="panel-white">

        <form name="loginForm" novalidate>
            <div class="page-title">
                <h3>Forgot Password</h3>

            </div>
            <div id="main-wrapper">
                <div class="panel-white">
                    <div class="row">

                        <div class="col-lg-6 col-md-6">
                            <div class="panel-body">
                                <label>Enter New Password<span style="color:red">*</span></label>
                                <input class="form-control" ng-model="pass.Password" type="password" name="UserName" ng-minlength="2" ng-required="true" maxlength="50" />

                                <span ng-if="UserForm.$submitted || UserForm.UserName.$touched">
<p ng-show="UserForm.UserName.$invalid && UserForm.UserName.$error.required">password is required</p>
<p ng-show="UserForm.UserName.$error.minlength">password is too short</p>
<p ng-show="UserForm.UserName.$error.pattern">Alphabets Only</p>
</span>
                            </div>
                        </div>






                    </div>

                    <div class="row">

                        <div class="col-lg-4 col-md-6">
                            <div class="panel-body">
                                <label>Re-enter Password<span style="color:red">*</span></label>
                                <input class="form-control" ng-model="pass.RePassword" type="password" name="FirstName" ng-minlength="2" ng-required="true" maxlength="20" />
                                <div ng-show="!UserForm.Password.$error.required&&pass.Password!=pass.RePassword"><span style="color:red;">Passwords do not match.</span></div>

                                <span ng-if="UserForm.$submitted || UserForm.FirstName.$touched">
<p ng-show="UserForm.FirstName.$invalid && UserForm.FirstName.$error.required">password is required</p>
<p ng-show="UserForm.FirstName.$error.minlength">password is too short</p>
<p ng-show="UserForm.FirstName.$error.pattern">Alphabets Only</p>
</span>
                            </div>
                        </div>
                    </div>





                    <div style="text-align:center" class="row">
                        <button name="type_saveid" ng-click="changesubmit()" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>
<!-- Main Wrapper -->