<!--/*//=============================================================================
// All rights reserved to Thrill Innovative Labs.
// THIS CODE AND INFORMATION IS PROVIDED 'AS IS' WITHOUT WARRANTY
// OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
// LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR
// FITNESS FOR A PARTICULAR PURPOSE.
//=============================================================================
//*****************************************************************************
//* Name		    	: NewExaminationType.html 
//* Type		    	: HTML File
//* Description		    :
//* References		    :
//* Author	    		:
//* Created Date        : 
//*****************************************************************************
//*                             MODIFICATION LOG
//*****************************************************************************
//*  S.No  Ver	     Date	         Modified By			Description

//*****************************************************************************
//*                             Code Review LOG
//*****************************************************************************

//*****************************************************************************
*/-->

<style>
    .validationMessage {
        color: red
    }
    
    .validationStar {
        color: red
    }
</style>

<div id="main-wrapper">
    <div class="container-fluid container-fullw bg-white">
        <!-- <div class="panel-white"> -->
        <form name="examinationTypeForm" novalidate>
            <div class="row">
               
            </div>
        </form>

        <table>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                        <table id="tblExaminationTypeList" class="table table-stripped" cellspacing="0" width="100 % ">
                            <thead>
                                <tr>
                                    <th>{{labelsExaminationType.examinationTypeTitle}}</th>
                                    <th></th>
                                   <!-- <th>Edit</th>
                                    <th>Delete</th>-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="entityExaminationType in examinationTypeCollection">
                                    <td>{{ entityExaminationType.examinationTypeTitle }}</td>
                                     <td> 
                            <input type="checkbox" class="checkbox" id="{{entityExaminationType.examinationTypeKey}}" ng-model="entityExaminationType.examinationTypeCheck" ng-true="1"  ng-false="null" name="isElective">
                            <label for="{{entityExaminationType.examinationTypeKey}}">              
                                            </label>

                                    </td>
                                    
                                         
 
                                    
                                   <!-- <td><a ng-click="editExaminationType(entityExaminationType.examinationTypeKey)"><i class="fa fa-pencil"></i></a></td>
                                    <td><a ng-click="deleteExaminationType(entityExaminationType.examinationTypeKey)"><i class="fa fa-trash"></i></a></td>-->
                                </tr>
                            </tbody>
                        </table>
  <center><button class="btn btn-wide btn-primary"  ng-if="savebtn" ng-click="saveExaminationType(examinationTypeCollection)">Save</button> </center>
                    </div>
                </div>