<!--/*//=============================================================================
// All rights reserved to Thrill Innovative Labs.
// THIS CODE AND INFORMATION IS PROVIDED 'AS IS' WITHOUT WARRANTY
// OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
// LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR
// FITNESS FOR A PARTICULAR PURPOSE.
//=============================================================================
//*****************************************************************************
//* Name		    	: NewSubject.html 
//* Type		    	: HTML File
//* Description		    :
//* References		    :
//* Author	    		:
//* Created Date        : 
//*****************************************************************************
//*                             MODIFICATION LOG
//*****************************************************************************
//*  S.No  Ver	     Date	         Modified By			Description

//*****************************************************************************
//*                             Code Review LOG
//*****************************************************************************

//*****************************************************************************
*/-->

<style>
    .validationMessage {
        color: red
    }
    
    .validationStar {
        color: red
    }
</style>

<div id="main-wrapper">
    <div class="container-fluid container-fullw bg-white">
        <!-- <div class="panel-white"> -->
        <form name="subjectForm" novalidate>
            <div class="row">
            
            </div>
        </form>
        <table>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                        <table id="tblSubjectList" class="table table-stripped" cellspacing="0" width="100 % ">
                            <thead>
                                <tr>
                                    <th>{{labelsSubject.subjectTitle}}</th>

                                    <th>{{labelsSubject.minimumTeachingHours}}</th>
                                    <th></th>
                                    <!--<th>Edit</th>
                                    <th>Delete</th>-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="entitySubject in subjectCollection">
                                    <td>{{ entitySubject.subjectTitle }}</td>

                                    <td>{{ entitySubject.minimumTeachingHours }}</td>
                                     <td> 
                            <input type="checkbox" class="checkbox" id="{{entitySubject.subjectTitle}}" ng-model="entitySubject.subjectCheck" ng-true="1"  ng-false="null" name="isElective">
                            <label for="{{entitySubject.subjectTitle}}">              
                                            </label>

                                    </td>
                                    
                                    <!--<td><a ng-click="editSubject(entitySubject.subjectKey)"><i class="fa fa-pencil"></i></a></td>
                                    <td><a ng-click="deleteSubject(entitySubject.subjectKey)"><i class="fa fa-trash"></i></a></td>-->
                                </tr>
                            </tbody>
                        </table>
 <center><button class="btn btn-wide btn-primary" ng-if="savebtn"  ng-click="saveSubject(subjectCollection)">Save</button>  </center>
                    </div>
                </div>