<!--/*=======================================================================
 All rights reserved to Thrill Innovative Labs.
 THIS CODE AND INFORMATION IS PROVIDED 'AS IS' WITHOUT WARRANTY
 OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
 LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR
 FITNESS FOR A PARTICULAR PURPOSE.
===========================================================================
****************************************************************************
 Name                : Contact
 Type                : HTML 
 Description         :
 References          :
 Author              :  Naveena
 Created Date        :  11-04-2016
****************************************************************************
MODIFICATION LOG
**************************************************************************** 
Ver	  Date   Modified By          Description

****************************************************************************  
Code Review LOG
**************************************************************************** 
S.No      Ver        Date                Code Review By            Observations
1         1.0       14-April-2016         Sri Venkatesh.T          In "Type" section in header remove Javascript and Jquery and wirte HTML
2         1.0       14-April-2016         Sri Venkatesh.T          Place page header in Certification.html
****************************************************************************/-->
<form name="contactform" novalidate>
<div id="main-wrapper">
    <div class="panel-white">
        <div class="row">
            <div class="col-lg-12">
                <h2> {{contactInfoLables.ContactBasicInfo}}  </h2></div>
            <div class="row">
                <div class="col-lg-3 col-md-12">

                    <div class="panel-body">
                        <label>{{contactInfoLables.ContactInfo}}<span style="color:red;">*</span></label>
                        <input class="form-control" id="input-Default" ng-model="contactBasicInfo.contactInfo" type="text" name="Title" ng-minlength="2" ng-required="true" ng-pattern="/^(0|[0-9]*)$/" ng-maxlength="50" />
                     <span ng-if="contactform.$submitted || contactform.Title.$touched" style="color:red;">
                        <p ng-show="contactform.Title.$invalid && contactform.Title.$error.required">Contact Info is required</p>
                        <p ng-show="contactform.Title.$error.minlength">Contact Info should be maximum of 2 characters</p>
                        <p ng-show="contactform.Title.$error.maxlength">Contact Info should be minumum of 50 characters</p>
                        <p ng-show="contactform.Title.$error.pattern">Numbers Only</p>
                    </span>
                    </div>

                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="panel-body">
                        <label>{{contactInfoLables.ContactType}}</label>
                        <select ng-options="ContactType.contactSubTypeID as ContactType.contactSubTypeName for ContactType in ContactTypeList" name="ContactType" class="js-states form-control" tabindex="-1" style="width: 100%" ng-model="contactBasicInfo.contactSubTypeID">
                     <option value="">--Select--</option>
                     </select>

                    </div>

                </div>
            </div>




            <div class="row">

                <div class="col-md-3">
                    <div class="panel-body">
                        <button type="submit" class="btn btn-default" ng-click="contactform.$valid &&addupdateContact()">{{contactInfoLables.Submit}}</button>
                    </div>
                </div>
            </div>


        </div>


        <div class="row">
            <div class="col-md-12">


                <div class="panel-body">

                    <table id="example" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>

                                <th>{{contactInfoLables.ContactInfo}}</th>
                                <th>{{contactInfoLables.ContactType}}</th>
                                <th>{{contactInfoLables.Edit}}</th>
                                <th>{{contactInfoLables.Delete}}</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="contact in contactDetails">
                                <td> {{ contact.contactInfo }}</td>
                                <td> {{ contact.contactSubTypeName }} </td>

                                <td>
                                    <a ng-click="editContact(contact.referenceKey)"><i class="fa fa-pencil"></i></a>
                                </td>
                                <td><a ng-click="deleteContact(contact.referenceKey)"><i class="fa fa-trash"></i></a></td>
                            </tr>

                        </tbody>
                    </table>

                </div>

            </div>
        </div>



    </div>
</div>

</form>

<!-- Page Content -->