<ion-view view-title="Person">
    <ion-content scroll="true">
        <person-basic-info></person-basic-info>
        <person-bank></person-bank>
        <person-relative></person-relative>
        <person-education></person-education>
        <person-demographics></person-demographics>
        <person-identity></person-identity>
        <person-religion></person-religion>
        <person-visa></person-visa>
        <person-work-experience></person-work-experience>
        <person-hobby></person-hobby> -->
        <person-award></person-award>
        <person-sport-award></person-sport-award>
        <person-sport></person-sport>
        <person-languageproficiency></person-languageproficiency>
        <person-livingplace></person-livingplace>
        <person-maritalstatus></person-maritalstatus>
        <person-vaccination></person-vaccination>
        <person-insurance></person-insurance>
        <person-disease></person-disease>


    </ion-content>
</ion-view>