<!--=======================================================================
 All rights reserved to Thrill Innovative Labs.
 THIS CODE AND INFORMATION IS PROVIDED 'AS IS' WITHOUT WARRANTY
 OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
 LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR
 FITNESS FOR A PARTICULAR PURPOSE.
===========================================================================
****************************************************************************
 Name                : personVisa.html
 Type                : Angular js with ionic view
 Description         : This file contains html controls
 References          :
 Author              : Sunitha Kumar V
 Created Date        : 12-Apr-2016
****************************************************************************
MODIFICATION LOG
**************************************************************************** 
Ver	Date	     Modified By			Description
****************************************************************************  
Code Review LOG
**************************************************************************** 
Sno# Ver        Date                Code Review By            Observations
****************************************************************************-->

<form name="visaForm" novalidate>
    <h2>{{visaLabels.Visa}}</h2>
    <div class="list">
        <label class="item item-input item-select item-stacked-label">
            <span>{{visaLabels.Country}}<span style="color:red">*</span></span>

            <select style="width: 100%" ng-options="countries.countryId as countries.countryName for countries in countriesList" ng-model="visa.countryId" name="country" required>
                <option value="">--Select--</option>
            </select>
            <div class="padding" ng-if="visaForm.country.$touched || visaForm.$submitted" style="color:red">
                <p ng-show="visaForm.country.$error.required "> Country is mandatory</p>
            </div>
        </label>


        <label class="item item-input item-select item-stacked-label">
            <span>{{visaLabels.VisaType}}<span style="color:red">*</span></span>
            <select style="width: 100%" ng-options="visaType.visaTypeId as visaType.visaTypeName for visaType in visaTypeList" ng-model="visa.visaTypeId" name="visaType" required>

                <option value="">--Select--</option>

            </select>

            <div class="padding" ng-if="visaForm.visaType.$touched || visaForm.$submitted" style="color:red">
                <p ng-show="visaForm.visaType.$error.required "> Visa type is mandatory</p>

            </div>
        </label>

        <label class="item item-input item-stacked-label">
            <span>{{visaLabels.StartDate}}<span style="color:red">*</span></span>
            <input name="startDate" ng-model="visa.startDate" type="date" required>
            <div class="padding" ng-if="visaForm.startDate.$touched || visaForm.$submitted" style="color:red;font-size:x-small">
                <p ng-show="visaForm.startDate.$error.required ">Start date is required</p>

            </div>
        </label>

        <label class="item item-input item-stacked-label">
            <span>{{visaLabels.EndDate}}<span style="color:red">*</span></span>
            <input name="endDate" ng-model="visa.endDate" type="date" required>
            <div class="padding" ng-if="visaForm.endDate.$touched || visaForm.$submitted" style="color:red;font-size:x-small">
                <p ng-show="visaForm.endDate.$error.required ">End date is required</p>

            </div>
        </label>


        <label class="item item-input item-stacked-label">
            <div style="text-align:center">
                <button type="submit" class="btn btn-primary" ng-click="visaForm.$valid&&saveVisa()" class=" button button-stable">{{visaLabels.Submit}}</button>
            </div>
        </label>
    </div>
</form>
<br>
<div style="text-align:center">
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>

                <th>{{visaLabels.Country}}</th>
                <th>{{visaLabels.VisaType}}</th>
                <th>{{visaLabels.StartDate}}</th>
                <th>{{visaLabels.EndDate}}</th>

                <th>{{visaLabels.Edit}}</th>
                <th>{{visaLabels.Delete}}</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="visa in visaList">
                <td>{{visa.countryName}}</td>
                <td>{{visa.visaTypeName}}</td>
                <td>{{visa.startDate|date}}</td>
                <td>{{visa.endDate|date}}</td>
                <td>
                    <a ng-click="getVisa(visa.referenceKey)"><i class="fa fa-pencil"></i>Edit</a>
                </td>
                <td><a ng-click="deleteVisa(visa.referenceKey)" confirmation-needed="Really Delete?"><i class="fa fa-trash">Delete</i></a></td>

            </tr>
        </tbody>
    </table>


</div>