<!--
===========================================================================
 All rights reserved to Thrill Innovative Labs.
 THIS CODE AND INFORMATION IS PROVIDED 'AS IS' WITHOUT WARRANTY
 OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
 LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR
 FITNESS FOR A PARTICULAR PURPOSE.
============================================================================
****************************************************************************
 Name               : Person sports
 Type               : html 
 Description        : html page for person sports
 References         :
 Author             : Sreelakshmi ch
 Created Date       : 20-Apr-2016
****************************************************************************                          
MODIFICATION LOG
**************************************************************************** 
Ver Date         Modified By            Description
****************************************************************************                            
Code Review LOG
**************************************************************************** 
Sno# Ver        Date                Code Review By            Observations
****************************************************************************

create the Root module and name it n3Person also include Dependency Modules 
-->
<form name="sportsForm" novalidate>
<div class="list">
<h2>{{sportLabels.sports}}</h2>
<label class="item item-input item-stacked-label">
                <label>{{sportLabels.sportName}}<span style="color:red">*</span></label>
                <input class="form-control " type="text" ng-model="sport.sportName" name="title" required>
                <span class="padding" ng-if="sportsForm.title.$touched || sportsForm.$submitted" style="color:red">
                    <p ng-show="sportsForm.title.$error.required "> Title is mandatory</p>

                </span>
</label>
<label class="item item-input item-stacked-label">        
    <label>{{sportLabels.curricularActivityType}}<span style="color:red">*</span></label>
                <select class="form-control" style="width: 100%" ng-options="sportss.cirricularActivityTypeID as sportss.cirricularActivityTypeName for sportss in CurricularActivityTypeList" ng-model="sport.cirricularActivityTypeId" name="CurricularActivityType" required>

                    <option value="">--Select--</option>


                </select>
                <span class="padding" ng-if="sportsForm.CurricularActivityType.$touched || sportsForm.$submitted" style="color:red">
                    <p ng-show="sportsForm.CurricularActivityType.$error.required "> Curricular activity type is mandatory</p>

                </span>

</label>

            <label class="item item-input item-stacked-label">
                <label>{{sportLabels.sportType}}<span style="color:red">*</span></label>
                <select class="form-control" style="width: 100%" ng-options="sporttypes.sportTypeId as sporttypes.sportTypeName for sporttypes in sportTypeList" ng-model="sport.sportTypeID" name="sportType" required>

                    <option value="">--Select--</option>


                </select>
                <span class="padding" ng-if="sportsForm.sportType.$touched || sportsForm.$submitted" style="color:red">
                    <p ng-show="sportsForm.sportType.$error.required "> Sport type is mandatory</p>

                </span>

</label>
<label class="item item-input item-stacked-label">
                <label>{{sportLabels.proficiency}}</label>
                <select class="form-control" style="width: 100%" ng-options="Proficiencys.proficiencyId as Proficiencys.proficiencyName for Proficiencys in proficiencyList" ng-model="sport.proficiencyId" name="proficiency" >

                    <option value="">--Select--</option>


                </select>
             </label>
             <label class="item item-input item-stacked-label">
                <label>{{sportLabels.highestLevelPlay}}<span style="color:red">*</span></label>
                <select class="form-control" style="width: 100%" ng-options="highestLevels.highestLevelPlayId as highestLevels.highestLevelPlayName for highestLevels in highestLevelPlayList" ng-model="sport.highestLevelPlayId" name="highestLevelPlay" required>

                    <option value="">--Select--</option>


                </select>
                <span class="padding" ng-if="sportsForm.highestLevelPlay.$touched || sportsForm.$submitted" style="color:red">
                    <p ng-show="sportsForm.highestLevelPlay.$error.required "> Highest level play is mandatory</p>

                </span>

           </label>
           <label class="item item-input item-stacked-label">
            <button type="submit" ng-click="sportsForm.$valid&&saveSport()" class="btn btn-primary">{{sportLabels.submit}}</button>
        </label>
<label class="item item-input item-stacked-label">
        <table class="table table-bordered" style="font-size:small">
            <thead>
                <tr>
                    <th>{{sportLabels.sportName}}</th>
            <th>{{sportLabels.curricularActivityType}}</th>

                    <th>{{sportLabels.sportType}}</th>
                    <th>{{sportLabels.edit}}</th>
                    <th>{{sportLabels.delete}}</th>

                   
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sport in sportsList">
                    <td>{{sport.sportName}}</td>
                    <td>{{sport.cirricularActivityTypeName}}</td>
                    <td>{{sport.sportTypeName}}</td>

<td>
                        <a ng-click="getSportById(sport.referenceKey)"><i class="fa fa-pencil"></i></a>
                    </td>
                    <td><a ng-click="deleteSport(sport.referenceKey)" ><i class="fa fa-trash"></i></a></td>


                </tr>

            </tbody>
        </table>
    </label>
</div>

</form>
