<div class="container-fluid container-fullw bg-white">


    <form name="assignmentForm" novalidate>

        <h4>Edit Assignment</h4>

        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="form-group" ng-class="{'has-error':assignmentForm.assignmentName.$dirty && assignmentForm.assignmentName.$invalid, 'has-success':assignmentForm.assignmentName.$valid}">

                    <div class="panel-body">
                        <label>{{labelsAssignment.assignmentName}}<span class="symbol required"></span> </label> <span class="clip-select">
                        <input class="form-control" autocomplete="off" id="input-Default" ng-model="entityAssignment.assignmentName" ng-required="true" name="assignmentName" type="text" ng-minlength="3" ng-maxlength="80" ng-pattern="/^[a-zA-Z0-9\s]*$/" ng-required="true">
</span>
                        <span ng-if="assignmentForm.$submitted || assignmentForm.assignmentName.$touched" class="red">
                        <span ng-if="assignmentForm.assignmentName.$invalid && assignmentForm.assignmentName.$error.required ">Assignment Name  is required.</span>
                        <span ng-if="assignmentForm.assignmentName.$error.minlength">Assignment Name is too small.</span>
                        <span ng-if="assignmentForm.assignmentName.$error.maxlength">Assignment Name is too long.</span>
                        <span ng-if="assignmentForm.assignmentName.$error.pattern">Alphabets only.</span>
                        </span>

                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div class="form-group" ng-class="{'has-error':assignmentForm.assignmentType.$dirty && assignmentForm.assignmentType.$invalid, 'has-success':assignmentForm.assignmentType.$valid}">

                    <div class="panel-body">
                        <label>{{labelsAssignment.assignmentType}}</label><span class="symbol required"></span>  <span class="clip-select">
                        <select ng-options="assignment.AssignmentTypeKey as assignment.AssignmentTypeName for assignment in assignmentCollections" value="3" class="form-control " ng-required="true" ng-model="entityAssignment.assignmentTypeKey" name="assignmentType" ng-required="true"> 
					  <option value="">--Select--</option>
					 </select></span>
                        <span ng-if="assignmentForm.$submitted || assignmentForm.assignmentType.$touched" class="red">
                          <span ng-if="assignmentForm.assignmentType.$invalid && assignmentForm.assignmentType.$error.required ">Assignment Type  is required.</span></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="form-group" ng-class="{'has-error':assignmentForm.groupName.$dirty && assignmentForm.groupName.$invalid, 'has-success':assignmentForm.groupName.$valid}">

                    <div class="panel-body">
                        <label>{{labelsAssignment.groupTitle}}<span class="symbol required"></span> </label> <span class="clip-select">
                        <select ng-options="group.InstituteGroupkey as group.GroupTitle  for group in groupList" ng-required="true" value="3" class="form-control " ng-change="getCourse(entityAssignment.groupKey)" ng-model="entityAssignment.groupKey" name="groupName" ng-required="true"> 
						 <option value="">--Select--</option>
					 </select></span>
                        <span ng-if="assignmentForm.$submitted || assignmentForm.groupName.$touched" class="red">
                          <span ng-if="assignmentForm.groupName.$invalid && assignmentForm.groupName.$error.required ">Group  is required.</span></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel-body">
                    <label>{{labelsAssignment.courseTitle}}</label>
                    <select ng-options="course.InstituteCourseKey as course.CourseTitle  for course in courseList" value="3" class="form-control " ng-change="getBatch(entityAssignment.courseKey)" ng-model="entityAssignment.courseKey" name="courseName"> 
						 <option value="">--Select--</option>
					 </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                  <div class="form-group" ng-class="{'has-error':assignmentForm.batchName.$dirty && assignmentForm.batchName.$invalid, 'has-success':assignmentForm.batchName.$valid}">
                <div class="panel-body">
                    <label>{{labelsAssignment.batchTitle}}<span class="symbol required"></span> </label> <span class="clip-select">
                    <select ng-options="batch.InstituteBatchKey as batch.BatchName  for batch in batchList" value="3" class="form-control " ng-change="getStudentList(entityAssignment.batchKey)" ng-model="entityAssignment.batchKey" name="batchName" required> 
						 <option value="">--Select--</option>
                    </select></span>
                      <span ng-if="assignmentForm.$submitted || assignmentForm.batchName.$touched" class="red">
                          <span ng-if="assignmentForm.batchName.$invalid && assignmentForm.batchName.$error.required ">Group  is required.</span></span>
                </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel-body">
                    <label>{{labelsAssignment.subjectTitle}}</label>
                    <select ng-options="subject.InstituteSubjectkey as subject.SubjectTitle  for subject in subjectList" value="3" class="form-control " ng-model="entityAssignment.subjectKey" name="subjectName"> 
						 <option value="">--Select--</option>
					 </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                
                <div class="panel-body">
                    <label>{{labelsAssignment.topicTitle}}</label>
                    <input class="form-control" id="input-Default" ng-model="entityAssignment.topicTitle" name="topicTitle" type="text" ng-minlength="3" ng-maxlength="80" ng-pattern="[a-zA-Z0-9]+">
                    <span class="red" ng-if="assignmentForm.topicTitle.$dirty && assignmentForm.topicTitle.$invalid">    
                               <span ng-show=" assignmentForm.topicTitle.$error.pattern">Alphabets Only</span>
                    <span ng-show=" assignmentForm.topicTitle.$error.minlength">Minimum number of characters required 3</span>
                    <span ng-show=" assignmentForm.topicTitle.$error.maxlength">Maximum number of characters required 80</span>
                    </span>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                  <div class="form-group" ng-class="{'has-error':assignmentForm.startDate.$dirty && assignmentForm.startDate.$invalid, 'has-success':assignmentForm.startDate.$valid}">
                <div class="panel-body">
                    <label>{{labelsAssignment.startDate}}<span class="symbol required"></span> </label> <span class="clip-select">
                    <input class="form-control date-picker" ng-model="entityAssignment.startDate" name="startDate" type="date" required></span>
                     <span class="red" ng-if="assignmentForm.startDate.$dirty && assignmentForm.startDate.$invalid">    
                                        
                         <span ng-if="assignmentForm.startDate.$invalid && assignmentForm.startDate.$error.required">Start date is required</span>

                    </span>

                      </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                  <div class="form-group" ng-class="{'has-error':assignmentForm.endDate.$dirty && assignmentForm.endDate.$invalid, 'has-success':assignmentForm.endDate.$valid}">
                <div class="panel-body">


                    <label>{{labelsAssignment.endDate}}<span class="symbol required"></span> </label> <span class="clip-select">
                    <input class="form-control date-picker" min="{{entityAssignment.startDate | date:'yyyy-MM-dd'}}" ng-model="entityAssignment.endDate" name="endDate" type="date" required></span>
                    <span class="red" ng-if="assignmentForm.endDate.$dirty && assignmentForm.endDate.$invalid">    
                                        
                         <span ng-if="assignmentForm.endDate.$invalid && assignmentForm.endDate.$error.min">End date is not a valid date</span>
 <span ng-if="assignmentForm.endDate.$invalid && assignmentForm.endDate.$error.required">End date is required</span>
                    </span>
                      </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel-body">
                    <label>{{labelsAssignment.priority}}</label>
                    <select ng-options="priority.priorityKey as priority.priorityStatus  for priority in priorityList" class="form-control " ng-model="entityAssignment.priorityKey" name="priority"> 
						 <option value="">--Select--</option>
					 </select>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div class="form-group" ng-class="{'has-error':assignmentForm.status.$dirty && assignmentForm.status.$invalid, 'has-success':assignmentForm.status.$valid}">

                    <div class="panel-body">
                        <label>{{labelsAssignment.status}}<span class="symbol required"></span> </label> <span class="clip-select">
                        <select ng-required="true" ng-options="status.AssignmentStatusKey as status.AssignmentStatusName  for status in statusList" value="3" class="form-control " ng-model="entityAssignment.assignmentStatusKey" name="status"> 
						 <option value="">--Select--</option>
					 </select></span>
                        <span ng-if="assignmentForm.$submitted || assignmentForm.status.$touched" class="red">
                          <span ng-if="assignmentForm.status.$invalid && assignmentForm.status.$error.required ">Status  is required.</span></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel-body">
                    <label>{{labelsAssignment.description}}</label>
                    <textarea class="form-control " ng-model="entityAssignment.description" name="description" type="text"></textarea>

                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel-body">
                    <label>{{labelsAssignment.folderKey}}</label><span class="symbol required"></span>
                    <input type="file" name="myFile" ng-change="getName(dms.documents)" id="myFile" ng-model="dms.documents" multiple base-sixty-four-input>
                   <label>{{filename}}</label>
                </div>
            </div>

        </div>

         <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <table>
                            <tr ng-if="deleteFileIcon">
                                <td><a href="#" download ng-click="getFile(fileDetails.FileKey) ">{{fileDetails.FileName}}</a></td>
                                <td> </td>
                                <td>
                                    <a ng-click="deleteFile(fileDetails.FileKey)"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

        <div class="row">
            <lable>Student List</lable>

            <table id="tblAssignmentStudentList" class="table table-stripped" cellspacing="0" width="100 % ">

                <tbody>
                    <tr ng-repeat="assignment in studentEditList">
                        <td>
                            <div class="form-group">
                                <input type="checkbox" id="checkbox{{$index}}" ng-model="assignment.student" ng-click="getStudentKey(assignment.StudentKey)">
                                <label for="checkbox{{$index}}">{{ assignment.FirstName + assignment.LastName }} </label>
                            </div>
                        </td>





                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel-body">
                    <center>

                        <button type="button" class="btn btn-wide btn-primary" ng-disabled="assignmentForm.$invalid" ng-click="assignmentForm.$valid && updateAssignmentStudent(entityAssignment,dms,studentEditList)">{{labelsAssignment.update}}</button>

                        <button type="submit" class="btn btn-wide btn-primary" ng-click="cancelAssignment()">{{labelsAssignment.cancel}}</button>
                    </center>


                </div>
            </div>
        </div>


    </form>
</div>