<!--/*//=============================================================================
// All rights reserved to Thrill Innovative Labs.
// THIS CODE AND INFORMATION IS PROVIDED 'AS IS' WITHOUT WARRANTY
// OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
// LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR
// FITNESS FOR A PARTICULAR PURPOSE.
//=============================================================================
//*****************************************************************************
//* Name		    	: ContactList.html 
//* Type		    	: HTML File
//* Description		    :
//* References		    :
//* Author	    		:
//* Created Date        : 
//*****************************************************************************
//*                             MODIFICATION LOG
//*****************************************************************************
//*  S.No  Ver	     Date	         Modified By			Description

//*****************************************************************************
//*                             Code Review LOG
//*****************************************************************************

//*****************************************************************************
*/-->

<div class="panel-white">
    <div class="col-lg-12">
        <h2>{{labelsContactList.contactHeading}}</h2></div>
    <table>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-body">
				 <table id="tblContactList" class="table table-stripped" cellspacing="0" width="100 % ">
					 <thead>
						 <tr>
						     <th style="cursor: pointer" ng-click="sortData('contactKey')">Contact Key <div ng-class="getSortClass('contactKey')"></div></th>
							<!-- <th>Edit</th>
							 <th>Delete</th> -->
						 </tr> 
						 </thead> 
					 <tbody> 
					
						 <tr ng-repeat="contact in contactDetails">
						 <td>{{contact.contactKey}}</td>
							 <!--<td><a ng-click="" href="#/editContact/{{contact.contactKey}}"><i class="fa fa-pencil"></i></a></td>
							 <td><a ng-click="deleteContact(contact.contactKey)"><i class="fa fa-trash"></i></a></td>-->
					 
					 </tr>
			 </tbody>
		 </table>
		 </div>
</div>
         </div>
    </table>
</div>
