<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin">Add Doctor
    
</div>

<div class="container-fluid container-fullw bg-white">
     
    <div class="row">
    <form id="myForm" name="createCalenderForm" novalidate>
        <div class="col-lg-12" style="margin-top:5px;">

            <div class="profile_form">

                <div class="alert alert-success" ng-show="showSuccessAlert">
                    <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">×</button> <strong>Done!</strong> {{successTextAlert}}</div>
                <div class="alert alert-warning" ng-show="showErrorAlert">
                    <button type="button" class="close" data-ng-click="switchBool('showErrorAlert')">×</button> {{errorTextAlert}}</div>
            </div>


            <div class="col-lg-4"><span style="color:#ff0000;">*</span>{{createCalendarLables.CalenderName}}</div>
            <div class="col-lg-8">
                <input class="form-control" type="text" name="calendername" required ng-model="newCalendar.calendername" />

            </div>
        </div>

        <div class="col-lg-12" style="margin:10px 0;">
            <div class="col-lg-4"><span style="color:#ff0000;">*</span>{{createCalendarLables.CalenderColor}}</div>
            <input type="hidden" ng-model="newcal.color" name="color" id="colour">

            <div class="col-lg-8">

                <div class="cal_color_box" style="background-color:#e2f2fe; border:solid 1px #bddff8;"></div>
                <div class="cal_color_box" style="background-color:#eee8fd; border:solid 1px #d6c6fa;"></div>
                <div class="cal_color_box" style="background-color:#fbe2fd; border:solid 1px #f3c0f6;"></div>
                <div class="cal_color_box" style="background-color:#defde3; border:solid 1px #bef8c7;"></div>
                <div class="cal_color_box" style="background-color:#fbe4de; border:solid 1px #f6c8bd;"></div>
                <div class="cal_color_box" style="background-color:#e3fafe; border:solid 1px #bcedf6;"></div>
                <div class="cal_color_box" style="background-color:#fcdfe7; border:solid 1px #fbc5d2;"></div>
                <div class="cal_color_box" style="background-color:#fee3f5; border:solid 1px #f9c9e9;"></div>
                <div class="cal_color_box" style="background-color:#ffeedf; border:solid 1px #f8dac1;"></div>
                <div class="cal_color_box" style="background-color:#f6fee3; border:solid 1px #d7eea2;"></div>
                <div class="cal_color_box" style="background-color:#e9fefe; border:solid 1px #c4f6f6;"></div>
                <div class="cal_color_box" style="background-color:#eaf5ff; border:solid 1px #c3e0f9;"></div>

            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
                <div id="selected-colour"> </div>
            </div>
            <div></div>
        </div>

        <div class="col-lg-12" style="margin-top:5px;">
            <div class="col-lg-4"><span style="color:#ff0000;">*</span>{{createCalendarLables.Description}}</div>
            <div class="col-lg-8">
                <textarea class="form-control" type="text" name="description" required ng-model="newCalendar.description"></textarea>
            </div>
        </div>

        <div class="col-lg-12" style="margin-top:10px;">
            <div class="col-lg-3"> </div>
            <div class="col-lg-9">

                <button class="btn btn-primary" type="submit" ng-click="createCalenderForm.$valid && newCalender()">{{createCalendarLables.Save}}</button>
                <button class="btn btn-warning" ng-click="cancel()">{{createCalendarLables.Cancel}}</button>

            </div>
        </div>

        <div class="col-lg-12" style="margin-top:10px;">
            <label>{{message}}</label>

        </div>

    </form>

</div>
</div>
