<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin">Edit Response
       </h4>
    
</div>

<div class="container-fluid container-fullw bg-white">
     
    <div class="row">
    <div class="profile_form" style="padding:10px 40px;">
        <form id="myForm" name="eventResponseForm" novalidate>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h4> {{Message}}</h4></div>
                    <div ng-click="goToLogin()"> Click here to go to Login Page</div>
                </div>
            </div>
        </form>
        
        </div>
    </div>
</div>